<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  name="viewport"  content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>隆邦ERP系统_物料管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script language="javascript">

        function confirmAgainDelete() {
            if (window.confirm("确认执行【删除部件 <%=component[0].componentName%>-<%=component[0].componentId%>】操作?")){
                return location.href=('/adBOMListComponentDelete?componentId=<%=component[0].componentId%>')
            }
        }

        function detailEditable(){
            if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
                btnEdi('5','detail');
                $('#updateFile').attr('style','display:/'/';');
                $('#confirmEditButton').removeAttr('hidden');
            }

            $('#componentDelButton').removeAttr('hidden')
            $('#editButtonControl').attr('hidden','hidden')
            $('#cancelEditButtonControl').removeAttr('hidden')
        }

        function cancelDetailEditable() {
            if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
                for(var i=0;i<5;i++){
                    var elementId='#'+'detail'+i;
                    $(elementId).attr('disabled','disabled');
                    $(elementId).attr('style','')

                }
                $('#updateFile').attr('style','display:none;');
                $('#confirmEditButton').attr('hidden','hidden');
            }

            $('#componentDelButton').attr('hidden','hidden')
            $('#editButtonControl').removeAttr('hidden')
            $('#cancelEditButtonControl').attr('hidden','hidden')
        }

        function InfoDisplay(rolejudgement,type1,type2,type3,type4,ojIdJudge,ojId){
            var judge=document.getElementById(ojIdJudge).innerText;
            if((judge===type1||judge===type2||judge===type3||judge===type4)&&rolejudgement){
                document.getElementById(ojId).style.display="";
            }else {
                document.getElementById(ojId).style.display="none";
            }
        }

        function Authority(role,ojId) {
            if(document.getElementById('role').innerText===role){
                document.getElementById(ojId).style.display='';
            }
            if(document.getElementById('role').innerText==='系统管理员'){
                document.getElementById('authority').style.display='';
            }else{
                document.getElementById('authority').style.display='none';
            }
        }

        function slideSwitch() {
            if(document.getElementById('checkboxswitch').checked){
                document.getElementById('BomListDetail').style.display='none'
                document.getElementById('BomListRecord').style.display=''
                $('#BomEditBtn').attr('hidden','hidden')
            }else{
                document.getElementById('BomListDetail').style.display=''
                document.getElementById('BomListRecord').style.display='none'
                $('#BomEditBtn').removeAttr('hidden')
            }


        }

        function btnEdi(length,actId){
            for(var i=0;i<length;i++){
                var elementId='#'+actId+i;
                $(elementId).removeAttr('disabled');
                $(elementId).attr('style','outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;')
            }
        }

        function editItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';
            $(editItemBtn).removeAttr('hidden');
            $(itemButton).attr('disabled','disabled');
            $("#editBomBtn").attr('hidden','hidden')

            var componentLength='<%=component.length%>'
            for(var i=0;i<parseInt(componentLength);i++){
            var requireNum="#"+'requireNum'+i
            $(requireNum).removeAttr('disabled');
            $(requireNum).attr('style','width: 50px;outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;height: 100%')
            }
            $('#addBomBtn').attr('hidden','hidden')
        }

        function cancelEditItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';

            $(editItemBtn).attr('hidden','hidden');
            $(itemButton).removeAttr('disabled');
            $("#editBomBtn").removeAttr('hidden')

            var componentLength='<%=component.length%>'
            for(var i=0;i<parseInt(componentLength);i++){
                var requireNum="#"+'requireNum'+i
                $(requireNum).attr('disabled','disabled')
                $(requireNum).attr('style','height:100%')
            }
            $('#addBomBtn').removeAttr('hidden')

            cancelRemoveItem();
            cancelEditItemQty();
        }

        function packData(){
            var confirmTable, itemAddBox, itemBtn, itemNum, itemId, itemModel, itemQty, i, itemIdText, itemModelText, itemQtyText;
            var itemArray = [], itemIdArray = [], itemModelArray = [], itemQtyArray = [];

            confirmTable = $('#comfirmAddBox');
            itemAddBox = confirmTable.find('#itemAddBox');

            itemBtn = itemAddBox.find('#itemBtn');
            itemNum = itemBtn.length;
            itemId = itemBtn.find('#itemId');
            itemModel = itemBtn.find('#itemModel');
            itemQty = itemBtn.find('#itemQty');

            if (itemNum === 0){
                alert('请搜索物料进行添加！')
                return false;
            }

            for (i=0;i<itemNum;i++){
                itemIdText = itemId[i].innerText;
                itemModelText = itemModel[i].innerText;
                itemQtyText = itemQty[i].value;

                if (!itemQtyText){
                    alert('请输入所需数量！');
                    return false;
                }

                <%if (component[0].itemId){%>
                <%for(let j = 0 ; j < component.length ; j++) { %>
                    if (itemIdText === '<%=component[j].itemId%>') {
                        alert('物料已存在，请检查所需数量！');
                        return false;
                    }
                <%}}%>

                itemIdArray.push(itemIdText);
                itemModelArray.push(itemModelText);
                itemQtyArray.push(itemQtyText);
            }

            itemArray.push(itemIdArray);
            itemArray.push(itemModelArray);
            itemArray.push(itemQtyArray);

            return itemArray;
        }

        function saveAdd(){
            var items = packData();
            if (!items){return}

            $.ajax({
                url: './ajaxSaveAdd',
                data: {
                    'items':items,
                    'componentId': '<%=component[0].componentId%>'
                },
                type: 'GET',
                // dataType: 'json',
                success: function (err) {
                    console.log(err);
                    if (err){
                        alert('保存添加错误！\n' + err);
                    } else {
                        window.location = './adBOMList?componentId=<%=component[0].componentId%>';
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error ' + textStatus + " " + errorThrown);
                }
            })
        }

        function packData2(){
            var table, itemBtn, itemId, itemModel, itemQty, i, itemIdText, itemModelText, itemQtyText;
            var itemArray = [], itemIdArray = [], itemModelArray = [], itemQtyArray = [];

            table = $('#BOMListItem tbody:first');
            itemBtn = table.find('[name = itemButton]:visible');

            itemId = itemBtn.find('#itemId');
            itemModel = itemBtn.find('#itemModel');
            itemQty = itemBtn.find('#itemQty');
            itemQty = itemQty.find('input');

            for (i=0;i<itemBtn.length;i++){
                itemIdText = itemId[i].innerText;
                itemModelText = itemModel[i].innerText;
                itemQtyText = itemQty[i].value;

                if (!itemQtyText){
                    alert('请输入所需数量！');
                    return false;
                }

                itemIdArray.push(itemIdText);
                itemModelArray.push(itemModelText);
                itemQtyArray.push(itemQtyText);
            }

            itemArray.push(itemIdArray);
            itemArray.push(itemModelArray);
            itemArray.push(itemQtyArray);

            return itemArray;
        }

        function saveEdit(){
            var items = packData2();
            if (!items){return}

            $.ajax({
                url: './ajaxSaveEdit',
                data: {
                    'items':items,
                    'componentId': '<%=component[0].componentId%>'
                },
                type: 'GET',
                // dataType: 'json',
                success: function (err) {
                    console.log('err' + err);
                    if (err){
                        alert('保存编辑错误！\n' + err);
                    } else {
                        window.location = './adBOMList?componentId=<%=component[0].componentId%>';
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error ' + textStatus + " " + errorThrown);
                }
            })
        }

        function selectItem(checkItemBoxChildId,itemOperationBtn,requiredNum) {
            var reCheckItemBoxChildId="#"+checkItemBoxChildId
            var itemBoxId=$(reCheckItemBoxChildId).children().attr('id')
            var transferItemHTML=document.getElementById(checkItemBoxChildId).innerHTML
            var reItemBoxId="#"+itemBoxId;


            var canAdding=true;

            for(var i=0;i<$("#itemAddBox").children().length;i++){
                if($("#itemAddBox").children().eq(i).attr('value')===$(reItemBoxId).attr('value')){
                    canAdding=false;
                    break;
                }
            }
            var reItemOperationBtn="#"+itemOperationBtn;
            var reNameItemOperationBtnId=itemOperationBtn+'_original'

            if(canAdding){
                var reNameItemBoxId=itemBoxId+'_original'
                $(reItemBoxId).attr('id',reNameItemBoxId)
                $('[name=checkItemBtn]').attr('name','checkItemBtn_Original')
                $("#itemAddBox").append(transferItemHTML)
                $('[name=checkItemBtn]').attr('disabled','disabled')
                $('[name=checkItemBtn_Original]').attr('name','checkItemBtn')


                $(reItemOperationBtn).attr('id',reNameItemOperationBtnId)
                document.getElementById(reNameItemOperationBtnId).setAttribute('style','display:none')

                document.getElementById(itemOperationBtn).innerHTML="<button class=\"itemButton4\" type=\"button\" id=\"\" onclick=\"deleItem(\'"+reItemBoxId+"\',\'"+reNameItemOperationBtnId+"\')\" style=\"font-size: 0.7rem;height: 95px;\"><img src='images/bin.png' height=\"30px\" width=\"30px\"></button>\n"


                var reRequiredNum='#'+requiredNum
                var reNameRequiredNum=requiredNum+'_original'
                $(reRequiredNum).attr('id',reNameRequiredNum)
                $(reRequiredNum).attr('style','display:display')
                $(reRequiredNum).removeAttr('disabled')


            }else{
                 reItemOperationBtn="#"+itemOperationBtn;
                 reNameItemOperationBtnId=$("#itemAddBox").children().eq(i).children().children().children().eq(1).attr("id")+'_original'
                $(reItemOperationBtn).attr('id',reNameItemOperationBtnId)
                document.getElementById(reNameItemOperationBtnId).setAttribute('style','display:none')
                alert("所选物料已存在【添加物料】列表中")
            }

        }

        function deleItem(deleId,revoverBtnId) {
            if (window.confirm("确认将所选物料从【添加物料】列表中移除？")){
                $(deleId).remove()
                document.getElementById(revoverBtnId).setAttribute('style','display:display')
            }
        }

        var searchTimes=0;
        function searchItems(){
            searchTimes++;
            var searchText = document.getElementById('searchText').value;

            if (!searchText){
                alert('请输入物料的名称/型号/备注进行搜索！');
                return;
            }

            $.ajax({
                url: './ajaxSearchItem',
                data: {
                    'searchText':searchText,
                    'searchTimes':searchTimes
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.item.length !==0){
                        document.getElementById('itemBox').innerHTML=data.HTMLtext;
                        document.getElementById('searchResultHeader').innerHTML ="搜索结果(" + data.item.length + ")";
                    }
                    else {
                        $(itemBox).append('<div id=\'item0\'>此部件暂无设置所属物料</div>')
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error ' + textStatus + " " + errorThrown);
                }
            })
        }

        var delArray = [];
        function removeItem(itemIndex){
            itemIndex = '#item' + itemIndex;
            $(itemIndex).attr('hidden','');
            delArray.push(itemIndex);
        }

        function cancelRemoveItem(){
            for (let i=0;i<delArray.length;i++){
                $(delArray[i]).removeAttr('hidden');
            }
            delArray = [];
        }

        function cancelEditItemQty(){
            var itemIndexId;

            <%for(let i=0; i<component.length; i++) { %>
            itemIndexId = '#requireNum' + '<%=i%>';
            $(itemIndexId).val(<%=component[i].itemQuantity%>)
            <%}%>
        }

        function addItemsScreenDisplay() {
            $('#addItemsScreen').attr('style','display:display')
            $('#addItemsScreenDisplayBtn').attr('style','position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;display:display')
            $('#editBomBtn').attr('hidden','hidden')
            $('#addBomBtn').attr('hidden','hidden')
        }

        function CancelItemsScreenDisplay() {
            $('#addItemsScreen').attr('style','display:none')
            $('#addItemsScreenDisplayBtn').attr('style','display:none')
            $('#editBomBtn').removeAttr('hidden')
            $('#addBomBtn').removeAttr('hidden')
        }

    </script>

</head>
<body >


<section class="functionBoard" >
    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adUserMan'" style="" id="authority">权限管理</button></li>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>

    </div>
    </div>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        BOM表管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post">
                <table cellpadding="0"cellspacing="0"  class="itemDetailsPage">
                    <tr>
                        <td >
                            <div style="width: 450px;margin-top: -10px">
                                <div class="itemDetail">详细信息：</div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput" name="BomListName" id="detail0" value="<%=component[0].componentName%>" disabled></div>
                                <div class="itemDetail">图号：<input class="itemDetailsInput" name="BomListModel" id="detail1" value="<%=component[0].componentId%>" disabled></div>

                                <div class="itemDetail" id="typeSelect">类型：<select class="itemDetailsInput" name="BomListType" id="detail2" required="required" disabled style="height: 35px;width: 130px;" >
                                        <option value="<%=component[0].categoryId%>" selected><%=component[0].categoryName%></option>
                                        <%for(let i = 0; i < category.length; i++) { %>
                                        <% if (component[0].categoryName === category[i].categoryName){
                                            if (i < category.length-1 ){
                                                i++;
                                            } else {break}
                                        }%>
                                        <option value="<%=category[i].categoryId%>"><%=category[i].categoryName%></option>
                                        <%}%>
                                    </select>
                                </div>

                                <div class="itemDetail">制表人：<input class="itemDetailsInput" name="BomListMaker"  value="<%=component[0].userName%>" disabled ></div>
                                <div class="itemDetail" >更新日期：<input class="itemDetailsInput" name="BomListUpdateTime"  value="<%=component[0].updateTime%>" disabled ></div>
                                <div class="itemDetail" >部件成本：<input class="itemDetailsInput" name="BomListCost" value="<%=component[0].cost%>" disabled ></div>
                                <div class="itemDetail">备注：<input class="itemDetailsInput" name="BomListNote" id="detail3" value="<%=component[0].note%>" disabled ></div>
                                <div class="itemDetail" id="updateFile" style="display: none">重新上传图片：<input type="file"  name="BomListFileName"  id="detail4" value=""  style="width: 310px;outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;" >
                                    <div style="color: red">请上传图片格式文件</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: -35px;margin-top: 0px">
                                <button style="background-color: transparent!important;width: 320px;height: 320px;border: none" type="button" onclick="window.open('uploads/')"  ><img src="uploads/" height="320px" width="320px"></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <a id="editButtonControl"><button class="btn btn-block btn-submit button button--primary smaller" type="button" id="editButton" onclick="detailEditable()" style="display: none;" >编辑</button></a>
                            <a id="cancelEditButtonControl" hidden> <button class="btn btn-block btn-submit button button--primary smaller" type="button" id="" onclick="cancelDetailEditable()" style="background-color: #fa5000!important;" >取消编辑</button></a>

                            <style onload="Authority('系统管理员','editButton')"></style>
                            <style onload="Authority('仓库管理员','editButton')"></style>
                            <style onload="Authority('技术员','editButton')"></style>

                            <a hidden id="componentDelButton"><button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick='confirmAgainDelete()' style="background-color: red!important; margin-left: 300px" ><img src='images/bin.png' height="30px" width="30px"></button></a>

                            <a hidden id="confirmEditButton"> <button  class="btn btn-block btn-submit button button--primary smaller" name="updateButton" value=true type="submit"     style="margin-left: -380px">确定</button></a>
                        </td>
                    </tr>
                </table>
            </form>




        <div class="pageCard" style="border-top: 0.1rem solid #404142;">
            <div class="pageTitle">
                <div style="font-weight: bold;width: 340px;font-size: 1.3rem;color: #404143">BOM表详情/一键出仓记录:</div>
                <input  type="checkbox" id="checkboxswitch" onchange="slideSwitch()" class="onoff sw1" style="background-color: transparent!important;margin-left: 325px;"  >
            </div>
            <div id="BomEditBtn" style="margin-left: -320px;margin-top: 15px;margin-bottom: 40px">
                <a id="editBomBtn"><button class="searchInputBoxButton" type="button" onclick="editItemBtn()"  style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >编辑&emsp;BOM表</button></a>
                <a name="editItemBtn" hidden><button class="searchInputBoxButton" type="button" onclick="cancelEditItemBtn()"   style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;" >&emsp;取消编辑&emsp;</button></a>
                <a id="addBomBtn"><button  class="searchInputBoxButton" type="button" onclick="addItemsScreenDisplay()" style="position: absolute!important; margin-top: -45px; margin-left: 480px;background-color: #00cb46!important;   border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >添加所属物料</button></a>
                <button class="searchInputBoxButton" id="addItemsScreenDisplayBtn" type="button" onclick="CancelItemsScreenDisplay()" style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;display: none" >&emsp;取消添加&emsp;</button>
            </div>

            <div id="addItemsScreen" style="display: none">
                <div  style="font-weight: bold;font-size: 1.3rem;margin-left: 30px;">物料添加框：</div>
                <div id="itemSearchBox" style="margin-top: 10px;margin-left: 20px" >
                    <input class="indexOf" id="searchText" name="searchText" style="margin-left: 4px;width: 45%" placeholder="根据物料的名称/型号/备注搜索">
                    <button class="searchInputBoxButton" value="1" name="indexOfButton" type="button" onclick="searchItems()" style="margin-left: 45.2%" >搜&emsp;索</button>
                </div>

                <table id="addItemsBox" style="padding-top: 50px;width: 100%;">
                    <tr style="width: 100%">
                        <td id="searchResultBox" >
                            <div class="col-md" >
                                <div class="card" style="border-radius: 10px;overflow: hidden ">
                                    <div class="card-header text-center">
                                        <h2 id="searchResultHeader">搜索结果</h2>
                                    </div>
                                    <div class="card-body" id="itemBox" style="height: 400px;overflow:auto ;padding: 0px "></div>
                                </div>
                            </div>
                        </td>
                        <td id="comfirmAddBox" style="width: 50%" >
                            <div class="col-md" style="">
                                <div class="card" style="border-radius: 10px;overflow: hidden;">
                                    <div class="card-header text-center">
                                        <h2>添加物料</h2>
                                    </div>
                                    <div id="itemAddBox" class="card-body" style="height: 400px;overflow:auto ;padding: 0px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="searchInputBoxButton" type="button" onclick="saveAdd()" style="margin-top: -55px; margin-left: 72%;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;"  >保存&emsp;添加表</button>
            </div>

            <div id="BomListDetail" >
                <table id="BOMListItem" style="width: 100%;font-size: 1rem;">
                    <div style="margin-bottom: 10px;font-weight: bold;font-size: 1.3rem;margin-left: 30px;">BOM表详情：</div>
                    <%if (component[0].itemId){%>
                    <%for(let j = 0 ; j < component.length ; j++) { %>
                    <tr id="item<%=j%>" style="width: 100%;">
                        <td style="width: 87%">
                            <button class="noteButton" name="itemButton" style="padding-left: 80px;" type="button" onclick="location.href='/adItem?itemId=<%=component[j].itemId%>&returnSql='+document.URL.split('sql=')[1]">
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" style="margin-left: -50px;color: #0050fa;">#<%=j+1%></span>
                                    <span class="itemInfo" >名称：<a style="font-weight: normal;color: #0050fa;"><%=component[j].itemName%></a></span>
                                    <span class="itemInfo" style="margin-left: 260px">物料编号：<a id="itemId" style="font-weight:normal;color: #0050fa; "><%=component[j].itemId%></a></span>
                                </div>
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" >型号（图号）：<a id="itemModel" style="font-weight: normal;color: #0050fa;"><%=component[j].itemModel%></a></span>
                                    <span class="itemInfo" style="margin-left: 350px">单价：<a style="font-weight:normal;color: #0050fa; "><%=component[j].itemPrice%></a></span>
                                </div>
                                <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                    <span class="itemInfo" >类型：<a style="font-weight: normal;color: red;"><%=component[j].itemType%></a></span>
                                    <span class="itemInfo" style="margin-left: 120px">所需数量/总数：<a id="itemQty" style="font-weight:normal;color: #0050fa; "><input class="itemDetailsInput" type="text" value="<%=component[j].itemQuantity%>" id="requireNum<%=j%>" disabled style="height: 100%" ></a></span>
                                    <span class="itemInfo" style="margin-left: 350px">备注：<a style="font-weight:normal;color: red; "><%=component[j].itemNote%></a></span>
                                </div>
                            </button>
                        </td>
                        <td style="width: 13%">
                            <table cellspacing="0" cellpadding="0" style="width: 100%">
                                <tr>
                                    <td>
                                        <a name="editItemBtn" hidden><button class="itemButton4" style="height: 90px;border: 0" type="button" onclick="removeItem(<%=j%>)" ><img src='images/bin.png' height="30px" width="30px"></button></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <% }} else {%>
                        此部件未添加物料
                    <%}%>
                    </tr>
                </table>
            </div>
            <div><a name="editItemBtn" hidden>
                    <button class="searchInputBoxButton" type="button" onclick="saveEdit()" style="position: absolute!important; margin-top: 10px; margin-left:60%;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;">保存&emsp;BOM表</button>
                </a>
            </div>



            <div id="BomListRecord" style="display: none">
            <table  style=";width: 100%;font-size: 1rem; background-color:rgb(250, 241, 247)!important; ">
                <div style="margin-top: -45px;margin-bottom: 30px;font-weight: bold;font-size: 1.3rem;margin-left: 30px">一键出仓记录：</div>

                <%for(let j = 0 ; j < 10 ; j++) { %>
                <tr id="component<%=j%>"  >
                    <td style="width: 87%!important;">
                        <button class="noteButton"  style="padding-left: 80px;" type="button" onclick="location.href='/adBOMList'">
                            <span class="itemInfo"  style=" font-size: 1rem;margin-left: -50px;color: #0050fa;   ">一键出仓</span>
                            <div style="margin-left: 50px">
                            <div  style= "font-size: 0.7rem; height: 30px; ">
                                <span class="itemInfo" >日期：<a style="font-weight: normal;color: #0050fa;"></a></span>
                                <span class="itemInfo" style="margin-left: 260px">申请人：<a style="font-weight:normal;color: #0050fa; "></a></span>
                                <span class="itemInfo" style="margin-left: 530px">经办人：<a style="font-weight:normal;color: #0050fa; "></a></span>
                            </div>
                            <div  style= "font-size: 0.7rem; height: 30px; ">
                                <span class="itemInfo" >报警：<a style="font-weight: normal;color: red;"></a></span>
                            </div>

                            <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                <span class="itemInfo" >备注：<a style="font-weight: normal;color: red;"></a></span>
                            </div>
                            </div>
                        </button>
                    </td>
                </tr>
                <% } %>
            </table>
            </div>
        </div>
        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © 佛山琉智科技有限公司</span>
    </div>
</footer>


</body>

</body>
</html>