<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  name="viewport"  content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>隆邦ERP系统_物料管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script language="javascript">

        function confirmAgainDelete() {
            if (window.confirm("确认执行【删除设备 <%=machine[0].machineId%>-<%=machine[0].machineName%>】操作?")){
                return location.href=('/adBOMListMachineDelete?machineId=<%=machine[0].machineId%>')
            }
        }



        function detailEditable(){
            if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
                btnEdi('5','detail');
                $('#updateFile').attr('style','display:/'/';');
                $('#confirmEditButton').removeAttr('hidden');
            }

            $('#componentDelButton').removeAttr('hidden')
            $('#editButtonControl').attr('hidden','hidden')
            $('#cancelEditButtonControl').removeAttr('hidden')
        }

        function cancelDetailEditable() {
            if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
                for(var i=0;i<5;i++){
                    var elementId='#'+'detail'+i;
                    $(elementId).attr('disabled','disabled');
                    $(elementId).attr('style','')

                }
                $('#updateFile').attr('style','display:none;');
                $('#confirmEditButton').attr('hidden','hidden');
            }

            $('#componentDelButton').attr('hidden','hidden')
            $('#editButtonControl').removeAttr('hidden')
            $('#cancelEditButtonControl').attr('hidden','hidden')
        }

        function InfoDisplay(rolejudgement,type1,type2,type3,type4,ojIdJudge,ojId){
            var judge=document.getElementById(ojIdJudge).innerText;
            if((judge===type1||judge===type2||judge===type3||judge===type4)&&rolejudgement){
                document.getElementById(ojId).style.display="";
            }else {
                document.getElementById(ojId).style.display="none";
            }
        }



        function Authority(role, ojId) {
            var sessionRole='<%= user.role %>'
            if ( sessionRole=== role) {
                document.getElementById(ojId).style.display = 'inline';
            }
            if (document.getElementById('role').innerText === '系统管理员') {
                document.getElementById('authority').style.display = '';
            } else {
                document.getElementById('authority').style.display = 'none';
            }
        }
        function btnEdi(length,actId){
            for(var i=0;i<length;i++){
                var elementId='#'+actId+i;
                $(elementId).removeAttr('disabled');
                $(elementId).attr('style','outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;')
            }
        }

        function editItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';

            $(editItemBtn).removeAttr('hidden');
            $(itemButton).attr('disabled','disabled');
            $("#editBomBtn").attr('hidden','hidden')
        }

        function cancelEditItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';

            $(editItemBtn).attr('hidden','hidden');
            $(itemButton).removeAttr('disabled');
            $("#editBomBtn").removeAttr('hidden')
        }

        //计算成本
        <%var machineCost = 0;%>
        <%for(let i=0; i<machine.length; i++) {
            machineCost += machine[i].componentCost;
        }%>
    </script>

</head>
<body >


<section class="functionBoard" >

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adUserMan'" style="" id="authority">权限管理</button></li>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>


    </div>
    </div>


    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        BOM表管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" enctype="multipart/form-data" onsubmit="confirmAgainEdit()" action="/adBOMListMachineEdit?machineId=<%=machine[0].machineId%>">
                <table cellpadding="0"cellspacing="0"  class="itemDetailsPage" style="">
                    <tr>
                        <td >
                            <div  style="width: 450px;margin-top: -10px;height: 380px;font-size: 1.16rem   ">
                                <div class="itemDetail">设备信息：</div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput" name="MachineName" id="detail0" value="<%=machine[0].machineName%>" disabled ></div>
                                <div class="itemDetail">型号：<input class="itemDetailsInput" name="MachineModel" id="detail1" value="<%=machine[0].machineId%>" disabled  ></div>
                                <div class="itemDetail">设计师：<select class="itemDetailsInput" name="MachineDesigner" id="detail2" disabled required="required"  >
                                        <option value="<%= machine[0].designer %>" selected><%= machine[0].designer %></option>
                                        <% for(let i = 0; i < users.length; i++) { %>
                                            <% if (machine[0].designer === users[i].userName) {
                                                if (i < users.length - 1) {
                                                    i++;
                                                } else {
                                                    break;
                                                }
                                            } %>
                                            <% if (users[i].role === '技术员' || users[i].role === '系统管理员') { %>
                                            <option value="<%= users[i].userName %>"><%= users[i].userName %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="itemDetail" >更新日期：<input class="itemDetailsInput" name="MachineUpdateTime" value=" <%=machine[0].mUpdateTime.getFullYear()%>-<%=machine[0].mUpdateTime.getMonth()+1%>-<%=machine[0].mUpdateTime.getDate()%>" disabled ></div>
                                <div class="itemDetail" id="machineCostRow" style="display: none">设备成本：<input class="itemDetailsInput" name="MachineCost" value="<%=machineCost%>元" disabled ></div>
                                <style onload="Authority('系统管理员','machineCostRow')"></style>
                                <div class="itemDetail">备注：<input class="itemDetailsInput" name="MachineNote" id="detail3" value="<%=machine[0].mNote%>" disabled ></div>
                                <div class="itemDetail" id="updateFile" style="display: none">重新上传图片：<input type="file"  name="machineFileName"  id="detail4" value=""   >
                                    <div style="color: red">请上传图片格式文件</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: -35px;margin-top: 0px">
                                <button style="background-color: transparent!important;width: 320px;height: 320px;border: none" type="button" onclick="window.open('uploads/<%=machine[0].machineFileName%>')"><img src="uploads/<%=machine[0].machineFileName%>" height="320px" width="320px"></button>
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-top: 100px">
                        <td >
                            <a id="editButtonControl"><button class="btn btn-block btn-submit button button--primary smaller" type="button" id="editButton" onclick="detailEditable()" style="display: none;" >编辑</button></a>
                            <a id="cancelEditButtonControl" hidden> <button class="btn btn-block btn-submit button button--primary smaller" type="button" id="" onclick="cancelDetailEditable()" style="background-color: #fa5000!important;" >取消编辑</button></a>

                            <style onload="Authority('系统管理员','editButton')"></style>
                            <style onload="Authority('技术员','editButton')"></style>



                            <a hidden id="confirmEditButton"> <button  class="btn btn-block btn-submit button button--primary smaller" name="updateButton" value=true type="submit" style="margin-left: 2%">确定</button></a>
                            <a hidden id="componentDelButton"><button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick='confirmAgainDelete()' style="background-color: red!important; margin-left: 30%;" ><img src='images/bin.png' height="30px" width="30px"></button></a>

                        </td>
                    </tr>
                </table>

            <div class="pageCard" style="border-top: 0.1rem solid #404142; width: auto;">
                <div class="pageTitle">
                    <div style="margin-bottom: 30px;font-weight: bold;font-size: 1.3rem">所属部件：(共<%=machine.length%>个部件)</div>
                </div>

                <div id="BomListDetail" style="width: auto">
                <table   style="width: 100%;font-size: 1rem;">
                    <div style="margin-left: -320px;margin-bottom: 50px;">
<!--                        <a id="editBomBtn"><button class="searchInputBoxButton" type="button" onclick="editItemBtn()"  style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >编辑所属部件</button></a>-->
<!--                        <a name="editItemBtn" hidden><button class="searchInputBoxButton" type="button" onclick="cancelEditItemBtn()"   style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;" >&emsp;取消编辑&emsp;</button></a>-->
                        <button class="searchInputBoxButton" type="button" id="addComponentBtn" onclick="location.href='/adBOMListComponentAdd?machineId=<%=machine[0].machineId%>'" style="position: absolute!important; margin-top: -45px; margin-left: 345px;background-color: #00cb46!important;   border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;display: none" >添加所属部件</button>
                        <style onload="Authority('系统管理员','addComponentBtn')"></style>
                        <style onload="Authority('技术员','addComponentBtn')"></style>
<!--                        <a name="editItemBtn" hidden> <button class="searchInputBoxButton" type="submit" style="position: absolute!important; margin-top: -45px; margin-left: 800px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >保存&emsp;BOM表</button></a>-->
                    </div>
                    <%if (machine[0].componentName){%>
                    <%for(let j = 0 ; j < machine.length ; j++) { %>
                    <tr id="machine<%=j%>" style="width: 100%;">
                        <td style="width: 100%">
                            <button class="noteButton2" name="itemButton"  style="padding-left: 80px;" type="button" onclick="location.href='/adBOMList?componentId=<%=machine[j].componentId%>'">
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" style="margin-left: -50px;color: #0050fa;">#<%=j+1%></span>
                                    <span class="itemInfo" >部件名称：<a style="font-weight: normal;color: #0050fa;"><%=machine[j].componentName%></a></span>
                                    <span class="itemInfo" style="margin-left: 260px">部件编号：<a style="font-weight:normal;color: #0050fa; "><%=machine[j].componentModel%></a></span>
                                </div>
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" >更新日期：<a style="font-weight: normal;color: #0050fa;"><%=machine[j].cUpdateTime.getFullYear()%>-<%=machine[j].cUpdateTime.getMonth()+1%>-<%=machine[j].cUpdateTime.getDate()%></a></span>
                                    <span class="itemInfo" id="componentCostRow<%=j%>" style="margin-left: 260px;display: none;">部件成本：<a style="font-weight:normal;color: #0050fa; "><%=machine[j].componentCost%></a></span>
                                    <style onload="Authority('系统管理员','componentCostRow<%=j%>')"></style>

                                    <span class="itemInfo" style="margin-left: 420px">类型：<a style="font-weight: normal; color: #0050fa;"><%=machine[j].categoryName%></a></span>
                                </div>

                                <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                    <span class="itemInfo" >备注：<a style="font-weight:normal;color: red;"><%=machine[j].cNote%></a></span>
                                </div>
                            </button>
                        </td>
                    </tr>
                    <% }} else {%>
                        此部件未添加物料
                    <%}%>
                    </tr>
                </table>
                </div>
            </div>

            </form>
        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © 佛山琉智科技有限公司</span>
    </div>
</footer>


</body>

</body>
</html>