<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>隆邦ERP系统_物料管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script language="javascript">
        function display(ojId,hidenId){
            if(document.getElementById(ojId).style.display===''){
                document.getElementById(ojId).style.display='none';
            }else{
                document.getElementById(ojId).style.display=''
                document.getElementById(hidenId).style.display='none';

            }
        }

        function stateColor(ojId){
            if(document.getElementById(ojId).innerText==='无'){
                document.getElementById(ojId).style.color='green';
            }else if(document.getElementById(ojId).innerText==='存在未检测'){
                document.getElementById(ojId).style.color='orange';
            }else if(document.getElementById(ojId).innerText==='少剩余'){
                document.getElementById(ojId).style.color='red';
            } else if(document.getElementById(ojId).innerText==='有订单未处理'){
                document.getElementById(ojId).style.color='#fe007b';
            }
        else if(document.getElementById(ojId).innerText==='需归还物料'){
                document.getElementById(ojId).style.color='#80D5D7';
            }
        }

        function Authority(role,ojId) {
            if(document.getElementById('role').innerText===role){
                document.getElementById(ojId).style.display='';
            }
            if(document.getElementById('role').innerText==='系统管理员'){
                document.getElementById('authority').style.display='';
            }else{
                document.getElementById('authority').style.display='none';
            }
        }

        function componentDisplay(machineOrder,componentOrder) {


            if(document.getElementById('component'+machineOrder+0).style.display===''){
                for(let i=0;i<componentOrder;i++){
                    document.getElementById('component'+machineOrder+i).style.display='none';
                }

            }else{

                for(let i=0;i<componentOrder;i++){
                    document.getElementById('component'+machineOrder+i).style.display='';
                }

            }
        }
    </script>

</head>
<body >


<section class="functionBoard">

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonLogin" onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button " type="button" onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonRegist" onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/adUserMan'" style="" id="authority">权限管理</button></li>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegist" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>


    </div>
    </div>


    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        BOM表管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form action="adBOMListMan" method="post">
                <div class="pageCard" >
                    <div class="pageTitle">
<!--                        <a class="typeFilter">-->
<!--                            <button class="filterButton" type="button" onclick="display('typeOption1','typeOption2')"> —类型—<span style="float: right;margin-right: 4px">▼</span></button>-->
<!--                        </a>-->
<!--                        <a class="typeFilter">-->
<!--                            <button class="filterButton" type="button" onclick="display('typeOption2','typeOption1')">—报警— <span style="float: right;margin-right: 4px">▼</span></button>-->
<!--                        </a>-->
                        <a>-</a>
                        <input class="indexOf" name="indexOf" style="margin-left: 4px" placeholder="请输入关键字搜索BOM表">
                        <button class="searchInputBoxButton" name="indexOfButton" value=true type="submit">搜&emsp;索</button>
                        <button class="searchBarButton" onclick="location.href='/adBOMListAddComponent'"  type="button" id="addNewComponentButton"  style="display: none;margin-left: 390px;">创建部件</button>
                        <button class="searchBarButton" onclick="location.href='/adBOMListAddMachine'"  type="button" id="addNewMachineButton">创建设备</button>
                        <button class="searchBarButton" onclick="location.href=''"  type="button" id="manageCategoryButton" style="background-color: #0050fa!important">管理分类</button>

                        <style onload="Authority('系统管理员','addNewComponentButton')"></style>
                        <style onload="Authority('仓库管理员','addNewComponentButton')"></style>
                        <style onload="Authority('技术员','addNewComponentButton')"></style>

<!--                        <div class="filterBox" id="typeOption1" style="display: none">-->
<!--                            <button  class="filterButton filterOption" name="type" value="0" type="submit"> 全部</button>-->
<!--                            <button  class="filterButton filterOption" name="type" value="1" type="submit"> 光机类</button>-->
<!--                            <button  class="filterButton filterOption" name="type" value="2" type="submit"> 电气类</button>-->
<!--                            <button  class="filterButton filterOption" name="type" value="3" type="submit"> 钣金类</button>-->
<!--                            <button  class="filterButton filterOption" name="type" value="4" type="submit"> 铸件类</button>-->
<!--                            <button  class="filterButton filterOption" name="type" value="5" type="submit"style="border-bottom-left-radius: 0.3rem;border-bottom-right-radius: 0.3rem" > 其它类</button>-->
<!--                        </div>-->
<!--                        <div class="filterBox" id="typeOption2" style="display: none;margin-left: 112px">-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="0" type="submit"> 全部</button>-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="1" type="submit"> 无</button>-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="2" type="submit"> 存在未检测</button>-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="3" type="submit"> 少剩余</button>-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="4" type="submit"> 有订单未处理</button>-->
<!--                            <button  class="filterButton filterOption" name="alarm" value="5" type="submit"> 需归还物料</button>-->
<!--                        </div>-->
                    </div>


                    <%for(let i = 0 ; i < BOMList.length ; i++) { %>


                    <table class="noteButton" style=";width: 100%;font-size: 1rem;height: 100%;">
                        <tr >
                            <td style="width: 87%;">
                                <button class="noteButton" id="machine<%=i%>" style="margin-top: 5px;margin-bottom: 5px;padding-left: 80px;" type="button" onclick="componentDisplay('<%=i%>',10)">
                                    <div  style= "font-size: 0.7rem; height: 35px; ">
                                        <span class="BOMInfo" style="margin-left: -50px; color: #0050fa ">双主轴斜插补动力刀塔车铣复合中心</span>
                                        <span class="BOMInfo" style="margin-left: 430px">更新日期：<a style="font-weight:normal;color: #0050fa; ">2021.11.22</a></span>

                                    </div>
                                    <div  style= "font-size: 0.7rem; height: 35px; ">
                                        <span class="BOMInfo" style="margin-left: -50px;color: #0050fa">TW-52MYS<a style="font-weight:normal;color: #0050fa; "></a></span>
                                        <span class="BOMInfo" style="margin-left: 200px">设计：通通<a style="font-weight:normal;color: #0050fa; "></a></span>
                                        <span class="BOMInfo" style="margin-left: 430px">设备成本：200,000元<a style="font-weight:normal;color: #0050fa; "></a></span>
                                    </div>

                                    <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                        <span class="BOMInfo" style="margin-left: -50px">备注： <a style="font-weight: normal;color: red;">标准机</a></span>
                                    </div>
                                </button>
                            </td>






                            <%for(let j = 0 ; j < 10 ; j++) { %>
                        <tr id="component<%=i%><%=j%>" style="display: none;">
                            <td style="width: 70%;">
                                <button class="noteButton2"  style="padding-left: 80px;" type="button" onclick="">
                                    <div  style= "font-size: 0.7rem; height: 30px; ">
                                        <span class="itemInfo" style="margin-left: -50px;color: #0050fa;   ">#<%=i%><%=j%></span>
                                        <span class="itemInfo" >部件名称：<a style="font-weight: normal;color: #0050fa;"></a></span>
                                        <span class="itemInfo" style="margin-left: 200px">部件型号：<a style="font-weight:normal;color: #0050fa; "></a></span>
                                        <span class="itemInfo" style="margin-left: 430px">更新日期：<a style="font-weight:normal;color: #0050fa; "></a></span>
                                    </div>
                                    <div  style= "font-size: 0.7rem; height: 30px; ">
                                        <span class="itemInfo" >状态：<a style="font-weight: normal;color: red;"></a></span>
                                        <span class="itemInfo" style="margin-left: 200px">制表人：Felix<a style="font-weight:normal;color: #0050fa; "></a></span>
                                        <span class="itemInfo" style="margin-left: 430px">部件成本：<a style="font-weight:normal;color: #0050fa; "></a></span>
                                    </div>

                                    <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                        <span class="itemInfo" >备注：<a style="font-weight: normal;color: red;"></a></span>
                                    </div>
                                </button>
                            </td>
                            <td style="width: 30%!important;">
                                <table cellspacing="0" cellpadding="0" style="width: 100%">
                                    <tr >
                                        <td>
                                            <button class="itemButton3" type="button" onclick="window.open('uploads/')" ><img src='images/checkDrawing.png' height="50px" width="50px"></button>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                        <% } %>
                        </tr>

                    </table>

                    <% } %>

                </div>
            </form>




        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © 佛山琉智科技有限公司</span>
    </div>
</footer>


</body>

</body>
</html>