<%- include('zHeader') %>

    <script language="javascript">
        function display(ojId, hidenId) {
            if (document.getElementById(ojId).style.display === '') {
                document.getElementById(ojId).style.display = 'none';
            } else {
                document.getElementById(ojId).style.display = ''
                document.getElementById(hidenId).style.display = 'none';

            }
        }

        function Authority(role, ojId) {
            var sessionId = '<%= user.role %>'
            if ( sessionId === role) {
                document.getElementById(ojId).style.display = 'inline';
            }

        }

        function componentDisplay(machineOrder, componentOrder) {
            if (document.getElementById('component' + machineOrder + 0).style.display === '') {
                for (let i = 0; i < componentOrder; i++) {
                    document.getElementById('component' + machineOrder + i).style.display = 'none';
                }

            } else {
                for (let i = 0; i < componentOrder; i++) {
                    document.getElementById('component' + machineOrder + i).style.display = '';
                }

            }
        }

        function showComponents(order,machineId) {
            var componentBox;
            var machineBtn='machineBtn'+order
            var btnCounter=(String(document.getElementById(machineBtn).value+=1).match(/1/g)||[]).length

            if(btnCounter%2===0){
                 componentBox='componentBox'+order
                while (document.getElementById(componentBox).children.length>0) {
                    document.getElementById(componentBox).lastChild.remove()
                }
            }else{
                var sendRequest = false;
                sendRequest = !sendRequest
                if (sendRequest){
                    //console.log('Clicked '+order)
                    $.ajax({
                        url: './ajaxComponents',
                        data: {'machineId':machineId },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            componentBox='#componentBox'+order
                            if (data.component.length !==0){
                                $(componentBox).append(data.HTMLText);
                            }
                            else {
                                $(componentBox).append('<div id=\'component0\'>此设备暂无设置所属部件</div>')
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('error ' + textStatus + " " + errorThrown);
                        }
                    })
                }
            }
        }

        function showItems(order,machineId,componentId) {
            var itemBox;
            var componentBtn=machineId+componentId

            var btnCounter=(String(document.getElementById(componentBtn).value+=1).match(/1/g)||[]).length;

            if(btnCounter%2===0){
                itemBox=componentId+'itemBox'
                while (document.getElementById(itemBox).children.length>0) {
                    document.getElementById(itemBox).lastChild.remove()
                }
            }else{

                var sendRequest = false;
                sendRequest = !sendRequest
                if (sendRequest){
                    $.ajax({
                        url: './ajaxItems',
                        data: {'componentId':componentId,'machineId':machineId},
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            itemBox='#'+componentId+'itemBox'
                            if (data.item.length !==0){
                                $(itemBox).append(data.HTMLText)
                            }
                            else {
                                $(itemBox).append('<div id=\'item0\'>此部件暂无设置所属物料</div>')
                            }
                        },

                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('error ' + textStatus + " " + errorThrown);
                        }
                    })
                }
            }
        }

        function copyAct(machineId,showMachineName) {
            $('#copyDetail1').attr('required','required')
            $('#copyDetail2').attr('required','required')
            $('#copyDetail3').attr('required','required')

            $('#copyInputBox').removeAttr('hidden')
            $('#copyMachineId').attr('value',machineId)
            $('#blankCover').removeAttr('hidden')
            document.getElementById('showMachineName').innerText=showMachineName
            $('#bodyPage').attr('style','position:fixed')
        }

        function cancelCopyAct() {
            $('#copyDetail1').removeAttr('required')
            $('#copyDetail2').removeAttr('required')
            $('#copyDetail3').removeAttr('required')

            $('#copyInputBox').attr('hidden','hidden')
            $('#blankCover').attr('hidden','hidden')
            $('#bodyPage').removeAttr('style')

        }

        function displaySearchResult() {
            var searchResult='<%=searchResult%>';
            if(searchResult===''){
            }else{
                $('[name=machineBtn]').click()
                setTimeout("$('[name=componentBtn]').click()" ,"50")
                setTimeout(" sendMsg('BOMInfo')","500")
                setTimeout(" sendMsg('componentInfo')","500")
                setTimeout(" sendMsg('itemInfo')","600")
            }
        }

        function sendMsg(className) {
            for(var k=0;k<document.getElementsByClassName(className).length;k++){
                var originalText = document.getElementsByClassName(className)[k].innerHTML;

                var text = originalText;
                var history = document.getElementsByClassName('text');

                if (history.length > 0) {
                    text = originalText;
                }
                var inputValue = document.getElementById('searchText').value;

                if(text.toLowerCase().indexOf(inputValue)!==-1){
                    if(text.indexOf(inputValue)===-1){
                        text = originalText.split(inputValue.toUpperCase()).join(`<span class="text">${inputValue.toUpperCase()}</span>`);
                    }else{
                        text = originalText.split(inputValue.toLowerCase()).join(`<span class="text">${inputValue.toLowerCase()}</span>`);
                    }
                }else if(text.toUpperCase().indexOf(inputValue)!==-1){
                    if(text.indexOf(inputValue)===-1){
                        text = originalText.split(inputValue.toLowerCase()).join(`<span class="text">${inputValue.toLowerCase()}</span>`);
                    }else{
                        text = originalText.split(inputValue.toUpperCase()).join(`<span class="text">${inputValue.toUpperCase()}</span>`);
                    }
                }
                document.getElementsByClassName(className)[k].innerHTML = text;
            }
        }
    </script>


<body id="bodyPage" onload="displaySearchResult()">
<div id="blankCover" style="position: absolute;background-color: rgba(255,255,255,0.5);width: 100%;height: 100%;z-index: 998" hidden></div>

<section class="functionBoard">

    <%- include('zMenu') %>

        <div class="functionBoard right" style="width: auto">
            <main role="main" class="container mt-3 mb-3" >

                <header role="banner">
                    <div class="headcontainer">
                        <div id="pageTitle" class="page-title">
                            BOM表管理
                        </div>
                        <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%= user.role %></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%= user.userName %></span>
                    </div>
                </header>
                <form method="post" enctype="multipart/form-data"  action="/machineCopy" onsubmit="$('#copyMachineId').removeAttr('disabled');">
                    <div id="copyInputBox" hidden style="position: absolute;width: 50%;height: 60%;margin-left: 15%;z-index: 999">
                        <div class="col-md" >
                            <div class="card" style="border-radius: 10px;overflow: hidden ">
                                <div class="card-header text-center">
                                    <h2 id="searchResultHeader">复制设备</h2>
                                </div>
                                <div class="card-body" id="itemBox" style="height: 400px;overflow:auto ;padding: 0px ">
                                    <div class="itemDetailsPage" style="width: 100%;margin-left: 3%;margin-top: 5%">
                                        <div class="itemDetail">复制设备：<a id="showMachineName"></a>&emsp;<input class="itemDetailsInput" name="copyMachineModel" id="copyMachineId" value="" disabled></div>
                                        <div class="itemDetail">名称<a style="color: red; font-size: x-large">*</a>：<input name="addMachineName" class="itemDetailsInput addItemInfo" id="addMachineName" style="width: 80%" placeholder="请输入设备名称" required></div>
                                        <div class="itemDetail">型号<a style="color: red; font-size: x-large">*</a>：<input name="addMachineModel" class="itemDetailsInput addItemInfo" id="addMachineModel" style="width: 80%" placeholder="请输入设备型号" required></div>
                                        <div class="itemDetail">设计师: <a style="color: red; font-size: x-large">*</a>：<select class="itemDetailsInput addItemInfo" name="addMachineDesigner" id="itemDetailsInput" required="required" style="height: 35px;color:black;" >
                                                <option id="designer" value="" selected>请选择设计师</option>
                                                <% for(let i = 0; i < users.length; i++) { %>
                                                    <% if (users[i].role === '技术员' || users[i].role === '系统管理员') { %>
                                                        <option value="<%= users[i].userName %>"><%= users[i].userName %></option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="itemDetail">备注：<input name="addMachineNote" class="itemDetailsInput addItemInfo" id="detail6" style="width: 80%"></div>
                                        <div class="itemDetail" id="updateFile">重新上传图片：<input type="file"  name="machineFileName" value="">
                                            <div style="color: red">请上传图片格式文件</div>
                                        </div>
                                        <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 20px">
                                            <tr style="width: 100%">
                                                <td style="width: 100%;">
                                                    <button class="btn btn-block btn-submit button button--primary smaller" style="float: right;border: 0;margin-right: 10%;background-color: red!important;" type="button" onclick="cancelCopyAct()">取消</button>
                                                    <button class="btn btn-block btn-submit button button--primary smaller" style="float: right;border: 0;margin-right: 2%;background-color: #00cb46!important;" type="submit" >确认</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <form method="post" action="/adBOMListMan">
                    <div class="pageCard"  style="width: 100%">
                        <div class="pageTitle" style="width: 100%">

                            <input class="indexOf" name="searchText" id="searchText" value="<%=searchResult%>" style="margin-left: 4px" placeholder="根据机械部件物料的名称/型号/备注搜索机械">
                            <button class="searchInputBoxButton" value="1" name="indexOfButton" type="submit">搜&emsp;索</button>
                            <div  style="height: 30px">
                                <button class="searchBarButton" onclick="location.href='/adBOMListMachineAdd'" type="button" style="margin-left: 390px;display: none" id="addNewMachineButton">创建设备</button>
                            </div>
                            <style onload="Authority('系统管理员','addNewMachineButton')"></style>
                            <style onload="Authority('技术员','addNewMachineButton')"></style>
                        </div>

                        <div class="pageBody" style="width: 100%">
                        <% for(let i = 0 ; i < machine.length ; i++) { %>
                        <table class="noteButton" style="width: 100%;font-size: 1rem;">
                            <tr style="width: 100%;">
                                <td style="width: 82%;">

                                      <button class="noteButton" name="machineBtn" id="machineBtn<%=i%>" value=0 style="margin-top: 5px;margin-bottom: 5px;padding-left: 80px;" type="button" onclick="showComponents('<%=i%>','<%=machine[i].machineId%>')">
                                        <div  style= "font-size: 0.7rem; height: 35px; ">
                                            <span class="BOMInfo" name="machineName" style="margin-left: -50px; color: #0050fa "><%=machine[i].machineName%></span>
                                            <span class="BOMInfo" style="margin-left: 430px">更新日期：<a  style="font-weight:normal;color: #0050fa; "><%=machine[i].updateTime.getFullYear()%>-<%=machine[i].updateTime.getMonth()+1%>-<%=machine[i].updateTime.getDate()%>  </a></span>
                                        </div>
                                        <div  style= "font-size: 0.7rem; height: 35px; ">
                                            <span class="BOMInfo" style="margin-left: -50px;color: #0050fa"><%=machine[i].machineId%><a style="font-weight:normal;color: #0050fa; "></a></span>
                                            <span class="BOMInfo" style="margin-left: 200px">设计师：<%=machine[i].designer%><a style="font-weight:normal;color: #0050fa; "></a></span>
                                            <span class="BOMInfo" id="machineCostRow<%=i%>" style="margin-left: 430px; display: none;">设备成本：<%=machine[i].machineCost%>元<a style="font-weight:normal;color: #0050fa; "></a></span>
                                            <style onload="Authority('系统管理员','machineCostRow<%=i%>')"></style>
                                        </div>

                                        <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                            <span class="BOMInfo" style="margin-left: -50px">备注： <a style="font-weight: normal;color: red;!important;"><%=machine[i].note%></a></span>
                                        </div>
                                    </button>

                                </td>

                                <td style="width: 18%">
                                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                                        <tr >
                                            <td>
                                                <button class="itemButton1" style="height: 90px;border: 0" type="button" onclick="location.href=('/adBOMListMachineMan?machineId=<%=machine[i].machineId%>')"><img src='images/machine.png' height="50px" width="50px"></button>
                                            </td>
                                            <td>
                                                <button class="itemButton2" id="copyBtn<%=i%>" style="height: 90px;border: 0;display: none" type="button" onclick="copyAct('<%=machine[i].machineId%>','<%=machine[i].machineName%>')"><img src='images/copy.png' height="50px" width="50px"></button>
                                                <style onload="Authority('系统管理员','copyBtn<%=i%>')"></style>
                                                <style onload="Authority('技术员','copyBtn<%=i%>')"></style>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr id="componentBox<%=i%>" style="width: 100%">
                            </tr>
                        </table>
                        <% } %>
                        </div>
                    </div>

                </form>
            </main>
        </div>



</section>


<%- include('zFooter') %>


</body>

</html>