<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  name="viewport"  content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>隆邦ERP系统_物料管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script language="javascript">

        function confirmAgainDelete() {
            if (window.confirm("确认执行【删除设备 <%=machine[0].machineId%>-<%=machine[0].machineName%>】操作?")){
                return location.href=('/adBOMListMachineDelete?machineId=<%=machine[0].machineId%>')
            }
        }

        function confirmAgainEdit() {
            return window.confirm("确认执行【修改设备 <%=machine[0].machineId%>-<%=machine[0].machineName%>】操作?");
        }

        function detailEditable(){
            if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
                btnEdi('5','detail');
                $('#updateFile').attr('style','display:/'/';');
                $('#confirmEditButton').removeAttr('hidden');
                // $('#editButton').attr('style','display: none;');
                // $('#cancelEditButton').attr('style','display:/'/';');
            }
        }

        function InfoDisplay(rolejudgement,type1,type2,type3,type4,ojIdJudge,ojId){
            var judge=document.getElementById(ojIdJudge).innerText;
            if((judge===type1||judge===type2||judge===type3||judge===type4)&&rolejudgement){
                document.getElementById(ojId).style.display="";
            }else {
                document.getElementById(ojId).style.display="none";
            }
        }

        function Authority(role,ojId) {
            if(document.getElementById('role').innerText===role){
                document.getElementById(ojId).style.display='';
            }
            if(document.getElementById('role').innerText==='系统管理员'){
                document.getElementById('authority').style.display='';
            }else{
                document.getElementById('authority').style.display='none';
            }
        }

        function btnEdi(length,actId){
            for(var i=0;i<length;i++){
                var elementId='#'+actId+i;
                $(elementId).removeAttr('disabled');
                $(elementId).attr('style','outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;')
            }
        }

        function editItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';

            $(editItemBtn).removeAttr('hidden');
            $(itemButton).attr('disabled','disabled');
            $("#editBomBtn").attr('hidden','hidden')
        }

        function cancelEditItemBtn() {
            var editItemBtn='[name=editItemBtn]';
            var itemButton='[name=itemButton]';

            $(editItemBtn).attr('hidden','hidden');
            $(itemButton).removeAttr('disabled');
            $("#editBomBtn").removeAttr('hidden')
        }
    </script>

</head>
<body >


<section class="functionBoard" >

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adUserMan'" style="" id="authority">权限管理</button></li>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>


    </div>
    </div>


    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        BOM表管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" onsubmit="confirmAgainEdit()" action="/adBOMListMachineEdit?machineId=<%=machine[0].machineId%>">
                <table cellpadding="0"cellspacing="0"  class="itemDetailsPage">
                    <tr>
                        <td >
                            <div style="width: 450px;margin-top: -10px">
                                <div class="itemDetail">设备详细信息：</div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput" name="MachineName" id="detail0" value="<%=machine[0].machineName%>" disabled style="width: 100%"></div>
                                <div class="itemDetail">型号：<input class="itemDetailsInput" name="MachineModel" id="detail1" value="<%=machine[0].machineId%>" disabled  style="width: 100%"></div>
                                <div class="itemDetail">设计师：<input class="itemDetailsInput" name="MachineDesigner" id="detail2" value="<%=machine[0].designer%>" disabled  style="width: 100%"></div>
                                <div class="itemDetail" >更新日期：<input class="itemDetailsInput" name="MachineUpdateTime" value="<%=machine[0].mUpdateTime%>" disabled ></div>
                                <div class="itemDetail" >设备成本：<input class="itemDetailsInput" name="MachineCost" value="200,000" disabled ></div>
                                <div class="itemDetail">备注：<input class="itemDetailsInput" name="MachineNote" id="detail3" value="<%=machine[0].mNote%>" disabled style="width: 100%"></div>
                                <div class="itemDetail" id="updateFile" style="display: none">重新上传图片：<input type="file"  name="MachineFileName"  id="detail4" value=""  style="width: 310px;outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;" >
                                    <div style="color: red">请上传图片格式文件</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: -35px;margin-top: 0px">
                                <button style="background-color: transparent!important;width: 320px;height: 320px;border: none" type="button" onclick="window.open('uploads/')"><img src="uploads/" height="320px" width="320px"></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <button class="btn btn-block btn-submit button button--primary smaller" type="button" id="editButton" onclick="detailEditable()" style="display: none;" >编辑</button>
<!--                            <button class="btn btn-block btn-submit button button&#45;&#45;primary smaller" type="button" id="cancleEditButton" onclick="detailEditable()" style="display: none;" >取消编辑</button>-->
                            <style onload="Authority('系统管理员','editButton')"></style>
                            <style onload="Authority('仓库管理员','editButton')"></style>
                            <style onload="Authority('技术员','editButton')"></style>

                            <button class="itemButton4" type="button" onclick=confirmAgainDelete() ><img src='images/bin.png' height="30px" width="30px"></button>

                            <a hidden id="confirmEditButton"> <button class="btn btn-block btn-submit button button--primary smaller" name="updateButton" value=true type="submit" style="margin-left: 10px">确定</button></a>
                        </td>
                    </tr>
                </table>

            <div class="pageCard" style="border-top: 0.1rem solid #404142; width: auto;">
                <div class="pageTitle">
                    <div style="margin-bottom: 30px;font-weight: bold;font-size: 1.3rem">所属部件：</div>
                </div>

                <div id="BomListDetail" style="width: auto">
                <table  class="noteButton" style="width: 100%;font-size: 1rem;">
                    <div style="margin-left: -320px;margin-bottom: 70px;margin-top: 55px">
<!--                        <a id="editBomBtn"><button class="searchInputBoxButton" type="button" onclick="editItemBtn()"  style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >编辑所属部件</button></a>-->
<!--                        <a name="editItemBtn" hidden><button class="searchInputBoxButton" type="button" onclick="cancelEditItemBtn()"   style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;" >&emsp;取消编辑&emsp;</button></a>-->
                        <button class="searchInputBoxButton" type="button" onclick="location.href='/adBOMListComponentAdd?machineId=<%=machine[0].machineId%>'" style="position: absolute!important; margin-top: -45px; margin-left: 345px;background-color: #00cb46!important;   border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >添加所属部件</button>
<!--                        <a name="editItemBtn" hidden> <button class="searchInputBoxButton" type="submit" style="position: absolute!important; margin-top: -45px; margin-left: 800px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >保存&emsp;BOM表</button></a>-->
                    </div>
                    <%if (machine[0].componentName){%>
                    <%for(let j = 0 ; j < machine.length ; j++) { %>
                    <tr id="machine<%=j%>" style="width: 100%;">
                        <td style="width: 100%">
                            <button class="noteButton" name="itemButton"  style="padding-left: 80px;" type="button" onclick="location.href='/adBOMList?componentId=<%=machine[j].componentId%>'">
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" style="margin-left: -50px;color: #0050fa;">#<%=j+1%></span>
                                    <span class="itemInfo" >部件名称：<a style="font-weight: normal;color: #0050fa;"><%=machine[j].componentName%></a></span>
                                    <span class="itemInfo" style="margin-left: 260px">部件编号：<a style="font-weight:normal;color: #0050fa; "><%=machine[j].componentId%></a></span>
                                </div>
                                <div  style= "font-size: 0.7rem; height: 30px; ">
                                    <span class="itemInfo" >更新日期：<a style="font-weight: normal;color: #0050fa;"><%=machine[j].cUpdateTime%></a></span>
                                    <span class="itemInfo" style="margin-left: 260px">单价：<a style="font-weight:normal;color: #0050fa; "><%=machine[j].cost%></a></span>
                                    <span class="itemInfo" style="margin-left: 420px">类型：<a style="font-weight: normal; color: #0050fa;"><%=machine[j].categoryName%></a></span>
                                </div>

                                <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                    <span class="itemInfo" >备注：<a style="font-weight:normal;color: red;"><%=machine[j].cNote%></a></span>
                                </div>
                            </button>
                        </td>
                    </tr>
                    <% }} else {%>
                        此部件未添加物料
                    <%}%>
                    </tr>
                </table>
                </div>
            </div>

            </form>
        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © 佛山琉智科技有限公司</span>
    </div>
</footer>


</body>

</body>
</html>