<%- include('zHeader') %>
    <script language="javascript">
        function confirmAgain(operation) {
            if (window.confirm("确认执行【删除分类】操作?")) {
                return location.href=operation;
            } else {
                return false;
            }
        }


    </script>


<body >


<section class="functionBoard" >

    <%- include('zMenu') %>


    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <form onsubmit="confirmAgain()">
            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        BOM表管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <table style=";width: 100%;font-size: 1rem">
                <tr>
                    <td style="width: 87%;">
                        <p style="margin-left: 30px;color: #0050fa; font-weight: bold">分类数量：<%=category.length%><p>
                    </td>
                    <td style="width: 13%">
                        <button  class="searchBarButton" onclick="location.href='/adBOMListCategoryAdd'" type="button" id="addNewButton" style="width: 120px;margin-right: 30px" >添加新部件分类</button>

                    </td>
                </tr>
            </table>

            <%for(let i = 0 ; i < category.length ; i++) { %>

            <table class="noteButton" style=";width: 100%;font-size: 1rem" cellpadding="0" cellspacing="0">
                <tr >
                    <td style="width: 87%;">
                        <button class="noteButton" style="padding-left: 80px;" type="button" onclick="location.href='/adBOMListCategoryEdit?categoryId=<%=category[i].categoryId%>&returnSql='+document.URL.split('sql=')[1]">
                           <div style="margin-top: -40px!important;">
                            <a class="itemInfo" style="margin-left: -50px;color: #0050fa;   ">#<%=i+1%></a>
                            <span class="itemInfo" >名称：<a style="font-weight: normal;color: #0050fa;"><%=category[i].categoryName%></a></span>
                           </div>
                        </button>


                    </td>

                    <td style="width: 13%">
                        <table cellspacing="0" cellpadding="0" style="width: 100%">
                            <tr >
                                <td>
                                    <button class="itemButton1" type="button" onclick="location.href=('/adBOMListCategoryEdit?categoryId=<%=category[i].categoryId%>&returnSql='+document.URL.split('sql=')[1])"><img src='images/edit-button.png' height="30px" width="30px"></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="itemButton4" type="button" onclick="confirmAgain('/adBOMListCategoryDelete?categoryId=<%=category[i].categoryId%>&returnSql='+document.URL.split('sql=')[1])" ><img src='images/bin.png' height="23px" width="23px"></button>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>

            <% } %>


            </form>
        </main>
    </div>

</section>



<%- include('zFooter') %>
</body>
</html>