<%- include('zHeader') %>

    <script language="javascript">


        function confirmAgain() {
            return window.confirm("确认执行【下单该物料】操作?");
        }

        // function NumAlarm() {
        //     var a=parseInt(document.getElementById('totalNum').innerText);
        //     var b=parseInt(document.getElementById('detail5').value);
        //
        //     if(a<=b){
        //         document.getElementById('totalNum').style.color='red';
        //
        //     }
        // }
        //
        // function stateColor(ojId){
        //     if(document.getElementById(ojId).innerText==='无'){
        //         document.getElementById(ojId).style.color='green';
        //     }else if(document.getElementById(ojId).innerText==='存在未检测'){
        //         document.getElementById(ojId).style.color='orange';
        //     }else if(document.getElementById(ojId).innerText==='少剩余'){
        //         document.getElementById(ojId).style.color='red';
        //     }else if(document.getElementById(ojId).innerText==='有退回'){
        //         document.getElementById(ojId).style.color='#FE1DC6';
        //     }else  if(document.getElementById(ojId).innerText==='有订单未处理'){
        //         document.getElementById(ojId).style.color='#fe007b';
        //     }else if(document.getElementById(ojId).innerText==='需归还物料'){
        //         document.getElementById(ojId).style.color='#80d5d7';
        //     }
        // }



    </script>


</head>
<body >


<section class="functionBoard">

    <%- include('zMenu') %>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        采购管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" onsubmit="return confirmAgain()">

                            <div class="itemDetailsPage" style="width: 550px; margin-top: -10px">
                                <div class="itemDetail">下单信息：</div>
                                <div class="itemDetail">供应商<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="itemSupplier" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">名称<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="itemName" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">规格<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="itemSize" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">型号(图号)：<input class="itemDetailsInput addItemInfo" type="text" name="itemModel" value="" style="height: 35px;width: 80%;"></div>
                                <div class="itemDetail">数量<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="applyNum" style="height: 35px;width: 20%;" required></div>
                                <div class="itemDetail">单位<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="itemUnit"   style="height: 35px;width: 20%;" required></div>
                                <div class="itemDetail">单价：<input class="itemDetailsInput addItemInfo" type="text" name="itemPrice" style="height: 35px;width: 20%;" ></div>
                                <div class="itemDetail" >到货预期设置<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="date" name="commingDate" style="height: 35px;width: 35%" required></div>
                                <div class="itemDetail">申请人<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="text" name="applier"  style="height: 35px;width: 20%" value="<%=user.userName%>" required></div>
                                <div class="itemDetail" >申请备注：<input class="itemDetailsInput addItemInfo" type="text" name="applyNote"  style="height: 35px;width: 80%"></div>
                                <button class="btn btn-block btn-submit button button--primary smaller" type="submit" name=""  style=" background-color: #fe007b!important;position: absolute!important; margin-top: 30px; width: 40%" >申请下单</button>

                            </div>


            </form>
        </main>
    </div>
</section>



<%- include('zFooter') %>
</body>
</html>