<%- include('zHeader') %>

    <script language="javascript">


        function confirmAgain() {

            if (window.confirm("确认执行【出仓】操作?")) {
                return true;
            } else {
                return false;
            }
        }
        function NumAlarm() {
            var a=parseInt(document.getElementById('totalNum').innerText);
            var b=parseInt(document.getElementById('detail5').value);

            if(a<=b){
                document.getElementById('totalNum').style.color='red';

            }
        }
        function stateColor(ojId){
            if(document.getElementById(ojId).innerText==='无'){
                document.getElementById(ojId).style.color='green';
            }else if(document.getElementById(ojId).innerText==='存在未检测'){
                document.getElementById(ojId).style.color='orange';
            }else if(document.getElementById(ojId).innerText==='少剩余'){
                document.getElementById(ojId).style.color='red';
            }else if(document.getElementById(ojId).innerText==='有退回'){
                document.getElementById(ojId).style.color='#FE1DC6';
            }else  if(document.getElementById(ojId).innerText==='有订单未处理'){
                document.getElementById(ojId).style.color='#fe007b';
            }else if(document.getElementById(ojId).innerText==='需归还物料'){
                document.getElementById(ojId).style.color='#80d5d7';
            }
        }


    </script>



<body  style="height: 100%">


<section class="functionBoard"  style="height: 100%">

    <%- include('zMenu') %>


    <div class="functionBoard right"  style="height: 100%">
        <main role="main" class="container mt-3 mb-3"  style="height: 100%">

            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        物料管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form  onsubmit="return confirmAgain()" method="post"  style="height: 100%">
                <table cellpadding="0"cellspacing="0"  class="itemDetailsPage">
                    <tr>
                        <td >
                            <div style="width: 450px;margin-top: -15px">
                                <div class="itemDetail">详细信息：</div>
                                <div class="itemDetail">供应商：<%=itemList.itemSupplier%></div>
                                <div class="itemDetail">名称：<%=itemList.itemName%></div>
                                <div class="itemDetail">物料编号：<input class="itemDetailsInput" name="updateId" id="detail2" value="<%=itemList.itemId%>" placeholder="<%=itemList.itemId%>" disabled="true"></div>
                                <div class="itemDetail">型号(图号)：<input class="itemDetailsInput" name="updateModel" id="detail3" value="<%=itemList.itemModel%>" placeholder="<%=itemList.itemModel%>" disabled="true"></div>
                                <div class="itemDetail" >类型：<%=itemList.itemType%></div>
                                <div class="itemDetail" >库存总数：<span id="totalNum"><%=itemList.itemNum%></span><%=itemList.itemUnit%></div>
                                <div class="itemDetail">临时进仓总数：<span style="color: orange"><%=itemList.itemTemNum%></span><%=itemList.itemUnit%></div>
                                <div class="itemDetail">区域：<%=itemList.itemArea%></div>

                                <div class="itemDetail">数量预警：<input class="itemDetailsInput" id="detail5" value="<%=itemList.itemAlarmSetting%>" disabled="true" style="width: 300px"></div>
                                <div class="itemDetail">报警：
                                    <%for(let j=0;j<itemStateList.length;j++){%>
                                    <a style="font-weight:bold;" id="itemState<%=j%>" onload="stateColor(this.id)" ><%=itemStateList[j]%></a>&emsp;
                                    <style onload="stateColor('itemState<%=j%>')"></style>
                                    <% }%>
                                </div>
                                <div class="itemDetail" >备注：<%=itemList.itemNote%></div>
                                <style onload="NumAlarm()"></style>

                            </div>
                        </td>
                        <td>
                            <div style="margin-left: -35px;margin-top: -20px">
                                <img src="uploads/<%=itemList.itemFileName%>" height="320px" width="320px">
                            </div>
                            <div>
                                <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="window.open('uploads/<%=itemList.itemFileName%>')"  style="background-color: gold!important; ">查看图纸</button>
                                <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="window.open('/qrCodePrint?itemId=<%=itemList.itemId%>')"  style=" padding-left: 10px;  margin-left: 70px;background-color: mediumseagreen!important;">打印二维码</button>
                            </div>

                        </td>
                    </tr>



                </table>







                <div class="pageCard" style="border-top: 0.1rem solid #404142;background-color:#faf1f7!important;width: 100%;height: 100% ">

                    <div class="pageTitle">
                        <div style="margin-bottom: 15px;font-weight: bold;font-size: 1.2rem">出仓管理：</div>
                        <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="window.history.go(-1)"style="position: absolute!important; margin-top: -45px; margin-left: 560px;" >返回上一页</button>

                    </div>
                    <div style="font-weight: bold; color: #666">
                        <span style="margin-left: 30px" >数量：<input required="required" name="num" type="text" class="indexOf" style="height: 35px;width: 100px;"><span style="margin: 110px"><%=itemList.itemUnit%></span></span>
                        <span style="margin-left: -57px">申请人：<input required="required" name="applicant" type="text" class="indexOf" style="height: 35px;width: 100px"></span>
、                        <span style="margin-left: 155px">经办人：<input required="required" name="manager" value="<%=user.userName%>" type="text" class="indexOf" style="height: 35px;width: 100px"></span>
                    </div>
                    <div style="font-weight: bold; color: #666;margin-top: 30px">

                        <span style="margin-left: 30px" >出仓原因：<select  required="required" name="reason" type="text" class="indexOf" style="height: 35px;width: 200px;background-color: rgb(232, 240, 254) !important;">
                                <option>装配（消耗）</option>
                                <option>售后维修（消耗）</option>
                                <option>出售（消耗）</option>
                                <option>借用（需归还）</option>
                                <option>返工（需归还）</option>
                            </select></span>

                    </div>
                    <div style="font-weight: bold; color: #666;margin-top: 30px">
                        <span style="margin-left: 30px" >备注：<input name="note" type="text" class="indexOf" style="height: 35px;width: 600px"></span>
                    </div>
                    <div>
                        <button class="btn btn-block btn-submit button button--primary smaller" type="submit"  style=" margin-top: 30px; margin-left: 585px;padding-left: 10px"  >确定</button>
                    </div>

                </div>
            </form>
        </main>
    </div>
</section>




<%- include('zFooter') %>
</body>
</html>