<%- include('zHeader') %>

    <script language="javascript">


        function confirmAgain() {

            if (window.confirm("确认执行【添加新型物料】操作?")) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateValue(textbox) {
            var IllegalString = "[`~!#$^&=|{}':;',\\[\\]<>/?~！#￥……&——|{}‘；：”“'。，、？@ ]‘’";
            var textboxvalue = textbox.value;
            var index = textboxvalue.length - 1;

            var s = textbox.value.charAt(index);

            if (IllegalString.indexOf(s) >= 0) {
                s = textboxvalue.substring(0, index);
                textbox.value = s;
            }

        }


    </script>


<body >


<section class="functionBoard" >

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button"  onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/adUserMan'" style="">权限管理</button></li>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>
    </div>



    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        物料管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form onsubmit="return confirmAgain()" method="post"  enctype="multipart/form-data">
                            <div class="itemDetailsPage" >
                                <div class="itemDetail">添加新型物料：</div>
                                <div class="itemDetail">供应商<a style="color: red; font-size: x-large">*</a>：<input type="text" name="addSupplier" class="itemDetailsInput addItemInfo" id="detail1.0" required="required"  style="width: 490px" placeholder="请填写供应商名称"  onkeyup="ValidateValue(this) "  ></div>
                                <div class="itemDetail">名称<a style="color: red; font-size: x-large">*</a>：<input type="text" name="addName" class="itemDetailsInput addItemInfo" id="detail1" required="required"  style="width: 510px" placeholder="请输入物料名称"  onkeyup="ValidateValue(this) "></div>
                                <div class="itemDetail">规格<a style="color: red; font-size: x-large">*</a>：<input name="addSize" class="itemDetailsInput addItemInfo" id="detail2" required="required"   style="width: 510px" placeholder="请输入物料规格" onkeyup="ValidateValue(this) "></div>
                                <div class="itemDetail">型号（图号）：<input name="addModel" class="itemDetailsInput addItemInfo" id="detail2.1"    style="width: 445px" placeholder="有图号写图号,没图号写产品型号,都没有则不填" onkeyup="ValidateValue(this) " ></div>
                                <div class="itemDetail" >类型<a style="color: red; font-size: x-large">*</a>：<select class="itemDetailsInput addItemInfo" name="addType" id="detail3" required="required"  style="height: 35px;width: 100px;color:black;" >
                                        <% for(let i = 0; i < itemTypes.length; i++) { %>
                                            <option value="<%= itemTypes[i].itemTypeId %>"><%= itemTypes[i].itemTypeName %></option>
                                        <% } %>
                                    </select>
                                    <span>
                                        <button class="searchBarButton" onclick="location.href='/adItemTypeMan'" type="button" id="manageCategoryButton" style="background-color: #0050fa!important;width: 100px;margin-left:30px">管理分类</button>
                                    </span>
                                </div>
                                <div class="itemDetail">单位<a style="color: red; font-size: x-large">*</a>：<input required="required" name="addUnit" class="itemDetailsInput addItemInfo" id="detail5"   style="width: 100px" onkeyup="ValidateValue(this) "></div>
                                <div class="itemDetail">区域<a style="color: red; font-size: x-large">*</a>：<input required="required" name="addArea" class="itemDetailsInput addItemInfo" id="detail4"  style="width: 100px; " onkeyup="ValidateValue(this) "></div>
                                <div class="itemDetail">数量预警<a style="color: red; font-size: x-large">*</a>：<input type="number" required="required" name="addAlarmSetting" class="itemDetailsInput addItemInfo" id="detail5"  style="width: 60px"></div>

                                <div class="itemDetail">价格：<input name="addPrice" class="itemDetailsInput addItemInfo" id="detail6" type="number" min="0" step="0.01" style="width: 60px"></div>

                                <div class="itemDetail" >备注：<input name="addNote" class="itemDetailsInput addItemInfo" id="detail6" style="width: 500px" onkeyup="ValidateValue(this) "></div>
                                <div class="itemDetail" id="detail7" >上传图纸：<input name="addFileName" class="itemDetailsInput addItemInfo" type="file"   style="width: 462px"></div>

                            </div>


                            <button class="btn btn-block btn-submit button button--primary smaller" type="submit" id="confirmButton"  style=" height: 50px;width: 555px;background-color: #00cb46!important;margin-top: 15px; margin-left: 30px;">添加新型物料</button>





            </form>




        </main>
    </div>
</section>




<%- include('zFooter') %>

</body>
</html>