<%- include('zHeader') %>


<script language="javascript">
    // function JumpTo(event,Id) {
    //     var result;
    //     if(event==='物料事件更新'){
    //         result=location.href='/adItem?itemId='+Id+'&returnSql=undefined';
    //     }else if(event==='采购事件更新'){
    //         result=location.href='/adOrder?orderId='+Id;
    //     }
    //     return result
    // }

    $(document).ready(function(){
        // control variables
        const limit = 20;
        let start = 0; //The starting pointer of the data
        let action = 'inactive'; //Check if current action is going on or not. If not then inactive otherwise active
        function load_country_data(limit, start)
        {
            $.ajax({
                url:'./AjaxFetchHomeNote',
                method:"GET",
                data:{
                    'limit':limit,
                    'start':start
                },
                success:function(data)
                {
                    $('#load_data').append(data);
                    if(data === '')
                    {
                        $('#load_data_message').html("<a type='button' class='btn btn-info'>已加载完毕</a>");
                        setTimeout('$(\'#load_data_message\').html("<a type=\'button\' class=\'btn btn-info\'></a>")',1500)
                        action = 'active';
                    }
                    else
                    {
                        $('#load_data_message').html("<a type='button' class='btn btn-warning'>请等待....</button>");
                        action = 'inactive';
                    }
                }
            });
        }

        if(action === 'inactive')
        {
            action = 'active';
            load_country_data(limit, start);
        }
        $(window).scroll(function(){
            if($(window).scrollTop() + $(window).height() > $("#load_data").height() && action === 'inactive')
            {
                action = 'active';
                start = start + limit;
                setTimeout(function(){
                    load_country_data(limit, start);
                }, 1000);
            }
        });
    })



</script>
<body>
<section class="functionBoard">


    <%- include('zMenu') %>


    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        企业管理系统
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <div class="pageCard">
                <div class="pageTitle">
                    通知
                </div>





                <div id="load_data"></div>



                <a style="margin-left: 285.5px"><img src='images/timeLineEnd.png' height="20px" width="20px"></a>







                <div id="load_data_message" style="margin-top: 3%;float: right;margin-right: 7%"></div>




            </div>
        </main>
    </div>
</section>




<%- include('zFooter') %>


</body>

</html>