<%- include('zHeader') %>

    <script language="javascript">

        // function OrderState(ojId,ojId2,ojId3,ojId4,arriveNum,orderNum){
        //     if(document.getElementById(ojId).innerText==='已下单'){
        //         document.getElementById(ojId).style.color='green';
        //     }else if(document.getElementById(ojId).innerText==='申请中'){
        //         document.getElementById(ojId).style.color='orange';
        //         document.getElementById(ojId3).style.display='';
        //         document.getElementById(ojId4).style.display='none';
        //     }else if(document.getElementById(ojId).innerText==='已到货'){
        //         document.getElementById(ojId).style.color='green';
        //         if(arriveNum===orderNum){
        //             document.getElementById(ojId2).innerText='订单货物已全部到达';
        //             document.getElementById(ojId2).style.color='green'
        //         }
        //     }else if(document.getElementById(ojId).innerText==='已拒绝'||document.getElementById(ojId).innerText==='已取消'){
        //         document.getElementById(ojId2).style.display='none';
        //         document.getElementById(ojId).style.color='red';
        //     } else if(document.getElementById(ojId).innerText==='已完成'){
        //         document.getElementById(ojId2).style.display='none';
        //         document.getElementById(ojId).style.color='gray';
        //     }else if(document.getElementById(ojId).innerText==='有退回'){
        //         document.getElementById(ojId).style.color='#fe007b';
        //     }
        // }
        //
        // function overDate(ojId,judgeId) {
        //     var judgement=parseInt(document.getElementById(judgeId).innerText)
        //     if(judgement>0){
        //         document.getElementById(ojId).style.display='';
        //     }else if(judgement===0){
        //         document.getElementById(ojId).style.display='';
        //         document.getElementById(ojId).innerText='(今天应到货)'
        //         document.getElementById(ojId).style.color='orange';
        //     }
        // }

        function display(ojId,hidenId){
            if(document.getElementById(ojId).style.display===''){
                document.getElementById(ojId).style.display='none';
            }else{
                document.getElementById(ojId).style.display=''
                document.getElementById(hidenId).style.display='none';
            }
        }

        $(document).ready(function (){
            // control variables
            const limit = 20;
            let start = 0; //The starting pointer of the data
            let action = 'inactive'; //Check if current action is going on or not. If not then inactive otherwise active
            function load_country_data(limit, start)
            {

                $.ajax({
                    url:'./AjaxFetchOrder',
                    method:"GET",
                    data:{
                        'limit':limit,
                        'start':start
                    },

                    success:function(data)
                    {

                        $('#load_data').append(data);
                        if(data === '')
                        {
                            $('#load_data_message').html("<a type='button' class='btn btn-info'>已加载完毕</a>");
                            setTimeout('$(\'#load_data_message\').html("<a type=\'button\' class=\'btn btn-info\'></a>")',1500)
                            action = 'active';
                        }
                        else
                        {
                            $('#load_data_message').html("<a type='button' class='btn btn-warning'>请等待....</button>");
                            action = 'inactive';
                        }
                    }
                });
            }
            if(action === 'inactive')
            {
                action = 'active';
                load_country_data(limit, start);
            }
            $(window).scroll(function(){
                if($(window).scrollTop() + $(window).height() > $("#load_data").height() && action === 'inactive')
                {
                    action = 'active';
                    start = start + limit;
                    setTimeout(function(){
                        load_country_data(limit, start);
                    }, 1000);
                }
            });
        })

    </script>

<body >


<section class="functionBoard">

    <%- include('zMenu') %>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        采购管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post">
                <div class="pageCard" >
                    <div class="pageTitle">
                        <a class="typeFilter">
                            <button class="filterButton" type="button" onclick="display('typeOption1','typeOption2')"> —状态—<span style="float: right;margin-right: 4px">▼</span></button>
                        </a>
                        <a class="typeFilter">
                            <button class="filterButton" type="button" onclick="display('typeOption2','typeOption1')"> —排序—<span style="float: right;margin-right: 4px">▼</span></button>
                        </a>

                        <input class="indexOf" name="indexOf" style="margin-left: 4px;width: 320px" placeholder="根据订单号/物料名称/型号(图号)/供货商/备注进行搜索">
                        <button class="searchInputBoxButton" name="indexOfButton" value="true" type="submit" style="margin-left: 320px">搜&emsp;索</button>
                        <button class="searchInputBoxButton" onclick="location.href='/adItemOrderOne'" type="button" style="margin-left: 420px;background-color: #00cb46!important;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem; padding-left: 10px;padding-right: 10px">一次性订单</button>

                        <div class="filterBox" id="typeOption1" style="display: none">
                            <button  class="filterButton filterOption" name="state" value="0" type="submit"> 全部</button>
                            <button  class="filterButton filterOption" name="state" value="2" type="submit"> 申请中</button>
                            <button  class="filterButton filterOption" name="state" value="1" type="submit"> 已下单</button>
                            <button  class="filterButton filterOption" name="state" value="3" type="submit"> 已拒绝</button>
                            <button  class="filterButton filterOption" name="state" value="4" type="submit"> 已到货</button>
                            <button  class="filterButton filterOption" name="state" value="5" type="submit"> 有退回</button>
                            <button  class="filterButton filterOption" name="state" value="7" type="submit"> 已取消</button>
                            <button  class="filterButton filterOption" name="state" value="6" type="submit"style="border-bottom-left-radius: 0.3rem;border-bottom-right-radius: 0.3rem" >已完成</button>
                        </div>

                        <div class="filterBox" id="typeOption2" style="display: none;margin-left: 112px">
                            <button  class="filterButton filterOption" name="order" value="0" type="submit"> 默认排序</button>
                            <button  class="filterButton filterOption" name="order" value="1" type="submit"style="border-bottom-left-radius: 0.3rem;border-bottom-right-radius: 0.3rem" >按下单日期排序</button>
                        </div>

                    </div>

                    <div style="margin-left: 30px;color: #0050fa; font-weight: bold; font-size: small; ">采购订单数量：<%= orderCount %></div>

                    <div id="load_data">
                    </div>

                </div>
            </form>
        </main>
    </div>
</section>

<%- include('zFooter') %>

</body>
</html>