<%- include('zHeader') %>

    <script language="javascript">
        function confirmAgain() {
            return window.confirm("确认执行【添加新生产项目】操作?");
        }


    </script>
</head>
<body>


<section class="functionBoard">
    <%- include('zMenu') %>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        生产管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%= user.role %></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%= user.userName %></span>
                </div>
            </header>

            <form onsubmit="return confirmAgain()" method="post" enctype="multipart/form-data">
                <div class="itemDetailsPage">
                    <div class="itemDetail">创建新生产项目：</div>
                    <div class="itemDetail">名称<a style="color: red; font-size: x-large">*</a>：<input name="addProjectName" class="itemDetailsInput addItemInfo"  style="width: 500px" placeholder="请输入生产项目名称" required></div>
                    <div class="itemDetail">型号<a style="color: red; font-size: x-large">*</a>：<input name="addProjectModel" class="itemDetailsInput addItemInfo"  style="width: 500px" placeholder="请输入生产项目代号" required></div>
                    <div class="itemDetail">负责人: <a style="color: red; font-size: x-large">*</a>：<select class="itemDetailsInput addItemInfo" name="addProjectManager"  required="required" style="height: 35px;width: 130px;color:black;" >
                            <% for(let i = 0; i < users.length; i++) { %>
                                <option value="<%= users[i].userName %>"><%= users[i].userName %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="itemDetail" >周期<a style="color: red; font-size: x-large">*</a>：<input class="itemDetailsInput addItemInfo" type="date" name="commingDate" style="height: 35px;width: 35%" required></div>
                    <div class="itemDetail">项目描述：<input name="addProjectNote" class="itemDetailsInput addItemInfo"  style="width: 500px"></div>
                </div>

                <button class="btn btn-block btn-submit button button--primary smaller" type="submit" id="confirmButton" style=" height: 50px;width: 555px;background-color: #00cb46!important;margin-top: 15px; margin-left: 30px">
                    创建新设备
                </button>
            </form>
        </main>
    </div>
</section>


<%- include('zFooter') %>
</body>
</html>