<%- include('zHeader') %>
<script language="javascript">

    // BUG x2
    function confirmAgainDelete() {
        if (window.confirm("确认执行【删除设备 <%=machineComponents[0].machineId%>-<%=machineComponents[0].machineName%>】操作?")){
            return location.href=('/adProductionMachineDelete?p_machineId=<%=machineComponents[0].p_machineId%>&projectId=<%=machineComponents[0].projectId%>')
        }
    }

    function confirmAgainEdit() {
        return window.confirm("确认执行【修改设备 <%=machineComponents[0].machineId%>-<%=machineComponents[0].machineName%>】操作?");
    }

    function comfirmAgain() {
        var checkOne=false;
        var checkBox=$('input[name = belongProject]')
        for(var i=0;i<checkBox.length;i++){
            if(checkBox[i].checked){
                checkOne=true;
            }
        }
        if(checkOne){
            return true
        }else{
            alert('请选择1个【项目】')
            return false
        }
    }




    function detailEditable(){
        if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
            btnEdi('6','detail');
            $('#updateFile').attr('style','display:/'/';');
            $('#confirmEditButton').removeAttr('hidden');
        }

        $('#componentDelButton').removeAttr('hidden')
        $('#editButtonControl').attr('hidden','hidden')
        $('#cancelEditButtonControl').removeAttr('hidden')
        $('#addProductionMachineButton').attr('hidden','hidden')
        $('#changeEndDate').removeAttr('hidden')
        $("#moveButtonControl").attr('hidden','hidden');
    }

    function cancelDetailEditable() {
        if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
            for(var i=0;i<6;i++){
                var elementId='#'+'detail'+i;
                $(elementId).attr('disabled','disabled');
                $(elementId).attr('style','')

            }
            $('#updateFile').attr('style','display:none;');
            $('#confirmEditButton').attr('hidden','hidden');
        }

        $('#componentDelButton').attr('hidden','hidden')
        $('#editButtonControl').removeAttr('hidden')
        $('#cancelEditButtonControl').attr('hidden','hidden')
        $('#addProductionMachineButton').removeAttr('hidden')
        $('#changeEndDate').attr('hidden','hidden')
        $('#moveButtonControl').removeAttr('hidden')

    }

    function InfoDisplay(rolejudgement,type1,type2,type3,type4,ojIdJudge,ojId){
        var judge=document.getElementById(ojIdJudge).innerText;
        if((judge===type1||judge===type2||judge===type3||judge===type4)&&rolejudgement){
            document.getElementById(ojId).style.display="";
        }else {
            document.getElementById(ojId).style.display="none";
        }
    }



    function Authority(role, ojId) {
        var sessionRole='<%= user.role %>'

        if ( sessionRole=== role) {
            $(ojId).removeAttr('hidden')
        }

    }
    function btnEdi(length,actId){
        for(var i=0;i<length;i++){
            var elementId='#'+actId+i;
            $(elementId).removeAttr('disabled');
            $(elementId).attr('style','outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;')
        }
    }



    function moveAct() {

        $('#moveInputBox').removeAttr('hidden')
        $('#blankCover').removeAttr('hidden')
        $('#bodyPage').attr('style','position:fixed')
    }

    function cancelMoveAct() {

        $('#moveInputBox').attr('hidden','hidden')
        $('#blankCover').attr('hidden','hidden')
        $('#bodyPage').removeAttr('style')
    }


    function slideSwitch() {
        if(document.getElementById('checkBoxSwitch').checked){
            document.getElementById('switchPage1').style.display='none'
            document.getElementById('switchPage2').style.display=''
        }else{
            document.getElementById('switchPage1').style.display=''
            document.getElementById('switchPage2').style.display='none'
        }
    }

    //计算成本
    <%var machineCost = 0;%>
    <%for(let i=0; i<componentCount; i++) {
        machineCost += machineComponents[i].componentCost;
    }%>


</script>


<body id="bodyPage">
<div id="blankCover" style="position: absolute;background-color: rgba(255,255,255,0.5);width: 100%;height: 100%;z-index: 998" hidden></div>

<section class="functionBoard" >

    <%- include('zMenu') %>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        生产管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" enctype="multipart/form-data" onsubmit="confirmAgainEdit()" action="/adBOMListMachineEdit?machineId=<%=machineComponents[0].machineId%>">
                <table cellpadding="0"cellspacing="0"  class="itemDetailsPage">
                    <tr>
                        <td >
                            <div  style="width: 450px;margin-top: -80px;height: 380px;font-size: 1.16rem   ">
                                <div class="itemDetail">生产设备信息：</div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput" name="MachineName" id="detail0" value="<%=machineComponents[0].machineName%>" disabled ></div>
                                <div class="itemDetail">型号：<input class="itemDetailsInput" name="MachineModel" id="detail1" value="<%=machineComponents[0].machineId%>" disabled  ></div>
                                <div class="itemDetail">负责人：<select class="itemDetailsInput" name="MachineDesigner" id="detail2" disabled required="required"  >
                                        <option value="<%= machineComponents[0].designer %>" selected><%= machineComponents[0].designer %></option>
                                         <% for(let i = 0; i < users.length; i++) { %>
                                            <% if (machineComponents[0].designer === users[i].userName) {
                                                if (i < users.length - 1) {
                                                    i++;
                                                } else {
                                                    break;
                                                }
                                            } %>
                                            <% if (users[i].role === '技术员' || users[i].role === '系统管理员') { %>
                                                <option value="<%= users[i].userName %>"><%= users[i].userName %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="itemDetail">序列号：<%=machineComponents[0].p_machineId%></div>
                                <div class="itemDetail">关联订单：<select  class="itemDetailsInput" name="MachineDesigner" id="detail3" disabled>
                                        <option  value="<%=machineComponents[0].customerOrderId%>"><%=machineComponents[0].customerOrderId%></option>
                                    </select></div>
                                <div class="itemDetail" >更新日期：<input class="itemDetailsInput" name="MachineUpdateTime" value=" <%=machineComponents[0].mUpdateTime.getFullYear()%>-<%=machineComponents[0].mUpdateTime.getMonth()+1%>-<%=machineComponents[0].mUpdateTime.getDate()%>" disabled ></div>
                                <div class="itemDetail" >开始时间：<%=machineComponents[0].productionStart.getFullYear()%>-<%=machineComponents[0].productionStart.getMonth()+1%>-<%=machineComponents[0].productionStart.getDate()%></div>
                                <div class="itemDetail" >结束时间：<%=machineComponents[0].productionFinish.getFullYear()%>-<%=machineComponents[0].productionFinish.getMonth()+1%>-<%=machineComponents[0].productionFinish.getDate()%></div>
                                <div class="itemDetail" id="changeEndDate" hidden>修改结束日期：<input class="itemDetailsInput" id="detail4" type="date" name="addEndDate" value="<%=machineComponents[0].productionFinish.getFullYear()%>-<%=machineComponents[0].productionFinish.getMonth()+1%>-<%=machineComponents[0].productionFinish.getDate()%>"  disabled></div>
                                <div class="itemDetail">状态：<%=machineComponents[0].productionState%></div>
                                <div class="itemDetail" id="machineCostRow" hidden >设备成本：<input class="itemDetailsInput" name="MachineCost" value="<%=machineCost%>元" disabled ></div>
                                <style onload="Authority('系统管理员','#machineCostRow')"></style>
                                <div class="itemDetail">备注：<input class="itemDetailsInput" name="MachineNote" id="detail5" value="<%=machineComponents[0].mNote%>" disabled ></div>
                            </div>
                        </td>
                        <td style="margin-left: -35px;margin-top: 0px">
                            <div >
                                <button style="background-color: transparent!important;width: 200px;height: 200px;border: none" type="button" onclick="window.open('uploads/<%=machineComponents[0].machineFileName%>')"><img src="uploads/<%=machineComponents[0].machineFileName%>" height="200px" width="200px"></button>
                            </div>
                            <div style="width: 200px; margin-top: 20px"  id="accountButtons">
                                <button class="btn btn-block btn-submit button button--primary " type="button" id="directlyExit" onclick="location.href='/'" style="background-image: linear-gradient(90deg, #EA5455 <%=machineComponents[0].exitProgressRate.toFixed(2)*100%>%, #838383 0%);border: 3px solid #EA5455;height: 50px;width: 200px;">出仓：<%=(machineComponents[0].exitProgressRate*100).toFixed(2)+'%'%></button>
                                <button class="btn btn-block btn-submit button button--primary " type="button" id="temEnter" onclick="location.href=''" style="background-image: linear-gradient(90deg, #ffcc00 <%=machineComponents[0].QCProgressRate.toFixed(2)*100%>%, #838383 0%);border: 3px solid #ffcc00;height: 50px;">质检：<%=(machineComponents[0].QCProgressRate*100).toFixed(2)%>%</button>
                                <button class="btn btn-block btn-submit button button--primary " type="button" id="enter"   onclick="location.href='/'" style="background-image: linear-gradient(90deg, #0396FF <%=machineComponents[0].TaskProgressRate.toFixed(2)*100%>%, #838383 0%);border:3px solid #0396FF;height: 50px;;margin-top: 0px;width: 200px">任务：<%=(machineComponents[0].TaskProgressRate*100).toFixed(2)%>%</button>
                            </div>
                        </td>

                    </tr>
                </table>



                <div style="margin-top: 140px;margin-left: 30px">
                    <a id="editButtonControl" hidden><button class="btn btn-block btn-submit button button--primary smaller" type="button" id="editButton" onclick="detailEditable()">编辑</button></a>
                    <a id="cancelEditButtonControl" hidden> <button class="btn btn-block btn-submit button button--primary smaller" type="button" id="" onclick="cancelDetailEditable()" style="background-color: #fa5000!important;" >取消编辑</button></a>
                    <style onload="Authority('系统管理员','#editButtonControl')"></style>
                    <style onload="Authority('生产主管','#editButtonControl')"></style>

                    <a hidden id="confirmEditButton"><button  class="btn btn-block btn-submit button button--primary smaller" name="updateButton" value=true type="submit" style="margin-left: 2%">确定</button></a>
                    <a hidden id="componentDelButton"><button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick='confirmAgainDelete()' style="background-color: red!important; margin-left: 30%;" ><img src='images/bin.png' height="30px" width="30px"></button></a>
                    <a id="moveButtonControl" hidden ><button class="btn btn-block btn-submit button button--primary smaller" type="button" id="" onclick="moveAct()" style="background-color: #00cb46!important;margin-left:30%; " ><img src='images/move.png' height="30px" width="30px"></button></a>
                    <style onload="Authority('系统管理员','#moveButtonControl')"></style>
                    <style onload="Authority('生产主管','#moveButtonControl')"></style>
                </div>
                <form method="post" enctype="multipart/form-data" onsubmit="return comfirmAgain()" action="" >
                    <div id="moveInputBox" hidden style="position: absolute;margin-top: -500px;width: 50%;height: 60%;margin-left: 15%;z-index: 999">
                        <div class="col-md" >
                            <div class="card" style="border-radius: 10px;overflow: hidden ">
                                <div class="card-header text-center">
                                    <h2 id="searchResultHeader">转移至其它项目</h2>
                                </div>
                                <div class="card-body"  style="height: 400px;overflow:auto ;padding: 0px ">
                                    <div  class="itemDetailsPage" style="width: 100%">
                                        <div id="shellBox" style="margin-top: 3%">
                                            请选择该设备所要转移至的项目<a style="color: red; font-size: x-large">*</a>：
                                            <% for (let i = 0; i < project.length; i++){ %>
                                            <div style="margin-bottom: 5px">
                                                <input  type="radio" value="<%=project[i].projectId%>" name="belongProject" id="<%=project[i].projectId%>">
                                                <label style="width: 80%" for="<%=project[i].projectId%>"><%=project[i].projectName%>&emsp;<%=project[i].projectCode%></label>
                                            </div>
                                            <% } %>
                                        </div>
                                        <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 20px">
                                            <tr style="width: 100%">
                                                <td style="width: 100%;">
                                                    <button class="btn btn-block btn-submit button button--primary smaller" style="float: right;border: 0;margin-right: 10%;background-color: red!important;" type="button" onclick="cancelMoveAct()">取消</button>
                                                    <button class="btn btn-block btn-submit button button--primary smaller" id="moveCofirmBtn"  style="float: right;border: 0;margin-right: 2%;background-color: #00cb46!important;" type="submit" onsubmit="">确认</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>


                <div class="pageCard" style="border-top: 0.1rem solid #404142; width: auto;margin-top: 200px">
                    <div  class="pageTitle" >
                        <div  style="font-weight: bold;width: 340px;font-size: 1.3rem;color: #404143">部件详情/操作记录:</div>
                        <input   type="checkbox" id="checkBoxSwitch" onchange="slideSwitch()" class="onoff sw1" style="background-color: transparent!important;margin-left: 225px;"  >
                    </div>

                    <div id="switchPage1" style="width: auto">
                        <div style="margin-left: -320px;margin-bottom: 50px;">

                            <a  id="addComponentBtn" hidden><button class="searchInputBoxButton" type="button" id="addComponentBtn" onclick="location.href='/adProductionComponentAdd?machineId=<%=machineComponents[0].machineId%>'" style="position: absolute!important; margin-top: -45px; margin-left: 345px;background-color: #00cb46!important;   border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >添加所属部件</button></a>
                            <style onload="Authority('系统管理员','#addComponentBtn')"></style>
                            <style onload="Authority('技术员','#addComponentBtn')"></style>
                            <style onload="Authority('生产主管','#addComponentBtn')"></style>
                        </div>
                        <table   style="width: 100%;font-size: 1rem;margin-top: -20px">

                            <div class="pageTitle" style="margin-top: -30px;" >
                                <a style="margin-bottom: 30px;font-weight: bold;font-size: 1.3rem">所属部件：(共<%=componentCount%>个部件)</a>
                            </div>
                          <%if (componentCount!=0){%>
                            <%for(let j = 0 ; j < componentCount; j++) { %>
                            <tr id="machine<%=j%>" style="width: 100%;">
                                <td style="width: 100%">
                                    <button class="noteButton2" name="itemButton"  style="padding-left: 80px;" type="button" onclick="location.href='/adProductionComponentMan?componentId=2'">
                                        <div  style= "font-size: 0.7rem; height: 30px; ">
                                            <span class="itemInfo" style="margin-left: -50px;color: #0050fa;">#<%=j+1%></span>
                                            <span class="itemInfo" >部件名称：<a style="font-weight: normal;color: #0050fa;"><%=machineComponents[j].componentName%></a></span>
                                            <span class="itemInfo" style="margin-left: 260px">部件编号：<a style="font-weight:normal;color: #0050fa; "><%=machineComponents[j].componentModel%></a></span>
                                        </div>
                                        <div  style= "font-size: 0.7rem; height: 30px; ">
                                            <span class="itemInfo" >更新日期：<a style="font-weight: normal;color: #0050fa;"><%=machineComponents[j].cUpdateTime.getFullYear()%>-<%=machineComponents[j].cUpdateTime.getMonth()+1%>-<%=machineComponents[j].cUpdateTime.getDate()%></a></span>
                                            <span class="itemInfo" style="margin-left: 260px;"><a  id="componentCostRow<%=j%>" hidden>部件成本：<a style="font-weight:normal;color: #0050fa; "><%=machineComponents[j].componentCost%></a></a></span>
                                            <style onload="Authority('系统管理员','#componentCostRow<%=j%>')"></style>
                                            <span class="itemInfo" style="margin-left: 420px">类型：<a style="font-weight: normal; color: #0050fa;"><%=machineComponents[j].categoryName%></a></span>
                                        </div>

                                        <div  style= "font-size: 0.7rem; height: 30px;" id="">
                                            <span class="itemInfo" >备注：<a style="font-weight:normal;color: red;"><%=machineComponents[j].cNote%></a></span>
                                        </div>
                                    </button>
                                </td>
                            </tr>
                            <% }} else {%>
                                此设备未添加部件
                            <%}%>
                        </table>
                    </div>

                    <div id="switchPage2" style="display: none;">
                        <div class="pageTitle" style="margin-top: -30px">
                            <div style="margin-bottom: 15px;font-weight: bold;">操作记录：</div>
                        </div>
                        <%for(let i = 0; i <5 ;i++) { %>
                        <div style="margin-left: -50px;font-size: 1rem;margin-top: 5px">
                            <div  class="noteButton" style="padding-left:200px; ">
                                <div  style= "size: 1rem; height: 40px;">
                                    <span style=" margin-left: -65px;font-size: 0.8rem">2022-3-14 &emsp; 10:40:31 </span>
                                    <span style="margin-left: 30px;"><img src='images/RecentPoint.png' height="40px" width="35px"></span>
                                    <span style="font-size: 0.8rem;padding-top: 10px;margin-left: 45px;line-height: 10%;"><span id="stateRecord">Felix&emsp;&emsp;<span id="noteState<%=i%>" style="font-weight: bold">操作信息</span></span></span>

                                </div>
                                <div style="margin-left: 120px;height: 18px">
                                    <span style="line-height: 10px;"><img src='images/timeLine.png' height="100%" width="10px"></span>
                                </div>
                                <div style="height: 18.5px">
                                    <span style="margin-left: 120px"><img src='images/timeLine.png' height="100%" width="10px"></span>
                                </div>
                                <div style="height: 19px">
                                    <span style="margin-left: 120px;"><img src='images/timeLine.png' height="100%" width="10px"></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <a style="margin-left: 264.5px"><img src='images/timeLineEnd.png' height="20px" width="20px"></a>
                    </div>
                </div>



            </form>


        </main>
    </div>
</section>






<%- include('zFooter') %>

</body>
</html>