<%- include('zHeader') %>
<script language="javascript">

    //
    function confirmAgainDelete() {
        if (window.confirm("确认执行【删除设备 <%=projectMachine[0].projectId%>-<%=projectMachine[0].projectName%>】操作?")){
            return location.href=('/')
        }
    }

    function confirmAgainEdit() {
        return window.confirm("确认执行【修改设备  <%=projectMachine[0].projectId%>-<%=projectMachine[0].projectName%>】操作?");
    }

    function detailEditable(){
        if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
            btnEdi('5','detail');
            $('#updateFile').attr('style','display:/'/';');
            $('#changeEndDate').removeAttr('hidden');
            $('#projectDesc').removeAttr('disabled');
            $('#projectDesc').attr('class','textarea1')

            $('#confirmEditButton').removeAttr('hidden');
        }

        $('#componentDelButton').removeAttr('hidden')
        $('#editButtonControl').attr('hidden','hidden')
        $('#cancelEditButtonControl').removeAttr('hidden')
    }

    function cancelDetailEditable() {
        if('<%=user.role%>'==='系统管理员'||'<%=user.role%>'==='技术员'){
            for(var i=0;i<5;i++){
                var elementId='#'+'detail'+i;
                $(elementId).attr('disabled','disabled');
                $(elementId).attr('style','')

            }
            $('#updateFile').attr('style','display:none;');
            $('#changeEndDate').attr('hidden','hidden');
            $('#projectDesc').attr('disabled','disabled');
            $('#projectDesc').attr('class','itemDetailsInput')
            $('#confirmEditButton').attr('hidden','hidden');
        }

        $('#componentDelButton').attr('hidden','hidden')
        $('#editButtonControl').removeAttr('hidden')
        $('#cancelEditButtonControl').attr('hidden','hidden')
    }

    function InfoDisplay(rolejudgement,type1,type2,type3,type4,ojIdJudge,ojId){
        var judge=document.getElementById(ojIdJudge).innerText;
        if((judge===type1||judge===type2||judge===type3||judge===type4)&&rolejudgement){
            document.getElementById(ojId).style.display="";
        }else {
            document.getElementById(ojId).style.display="none";
        }
    }



    function Authority(role, ojId) {
        var sessionRole='<%= user.role %>'
        if ( sessionRole=== role) {
            document.getElementById(ojId).style.display = 'inline';
        }

    }
    function btnEdi(length,actId){
        for(var i=0;i<length;i++){
            var elementId='#'+actId+i;
            $(elementId).removeAttr('disabled');
            $(elementId).attr('style','outline: none; padding-left: 10px; border-radius: 0.3rem; padding-bottom: 3px; border:1.8px solid #0050fa;background-color: rgb(232, 240, 254) !important;')
        }
    }

    function editItemBtn() {
        var editItemBtn='[name=editItemBtn]';
        var itemButton='[name=itemButton]';

        $(editItemBtn).removeAttr('hidden');
        $(itemButton).attr('disabled','disabled');
        $("#editBomBtn").attr('hidden','hidden')
    }

    function cancelEditItemBtn() {
        var editItemBtn='[name=editItemBtn]';
        var itemButton='[name=itemButton]';

        $(editItemBtn).attr('hidden','hidden');
        $(itemButton).removeAttr('disabled');
        $("#editBomBtn").removeAttr('hidden')
    }

    $(function(){
        $.fn.autoHeight = function(){
            function autoHeight(elem){
                elem.style.height = 'auto';
                elem.scrollTop = 0; //防抖动
                elem.style.height = elem.scrollHeight + 'px';
            }
            this.each(function(){
                autoHeight(this);
                $(this).on('keyup', function(){
                    autoHeight(this);
                });
            });
        }
        $('textarea[autoHeight]').autoHeight();
    })

</script>


<body >


<section class="functionBoard" >

    <%- include('zMenu') %>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div id="pageTitle" class="page-title">
                        生产管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" onsubmit="confirmAgainEdit()" action="adProductionProjectEdit?projectId=<%=projectMachine[0].projectId%>">
                <table cellpadding="0" cellspacing="0" class="itemDetailsPage" style="">
                    <tbody>
                    <tr>
                        <td>
                            <div style="width: 450px;margin-top: -10px;height: 380px;font-size: 1.16rem   ">
                                <div class="itemDetail">设备信息：</div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput" name="projectName" id="detail1" value="<%=projectMachine[0].projectName%>" disabled=""></div>
                                <div class="itemDetail">代号：<input class="itemDetailsInput" name="productionProjectCode"  value="<%=projectMachine[0].projectCode%>" disabled=""></div>
                                <div class="itemDetail">负责人：<select class="itemDetailsInput" name="projectManager" id="detail2" disabled="" required="required">
                                    <option value="<%=projectMachine[0].projectManager%>" selected><%=projectMachine[0].projectManager%></option>
                                    <% for(let i = 0; i < users.length; i++) { %>
                                            <% if (projectMachine[0].projectManager === users[i].userName) {
                                                if (i < users.length - 1) {
                                                    i++;
                                                } else {
                                                    break;
                                                }
                                            } %>
                                            <option value="<%= users[i].userName %>"><%= users[i].userName %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="itemDetail" >开始时间：<%=projectMachine[0].projectStartDate.getFullYear()%>-<%=projectMachine[0].projectStartDate.getMonth()+1%>-<%=projectMachine[0].projectStartDate.getDate()%></div>
                                <div class="itemDetail" >结束时间：<%=projectMachine[0].projectFinishDate.getFullYear()%>-<%=projectMachine[0].projectFinishDate.getMonth()+1%>-<%=projectMachine[0].projectFinishDate.getDate()%></div>
                                <div class="itemDetail" id="changeEndDate" hidden>修改结束日期：<input class="itemDetailsInput" id="detail3" type="date" name="projectFinishDate" value="<%=projectMachine[0].projectFinishDate.getFullYear()%>-<%=projectMachine[0].projectFinishDate.getMonth()+1%>-<%=projectMachine[0].projectFinishDate.getDate()%>"  disabled></div>
                                <div class="itemDetail" >状态：进行中</div>
                                <div class="itemDetail" >总进度：<%=projectMachine[0].progressRate*100%>%</div>
                                <div class="itemDetail">项目描述：</div>
                                <textarea class="itemDetailsInput" name="projectDesc" id="projectDesc"   autoHeight="true"  style="resize: none;overflow-y:hidden;width: 380px" disabled=""><%=projectMachine[0].projectDesc%></textarea>
                                <div class="itemDetail" id="updateFile" style="display: none">上传文件：<input type="file" name="machineFileName" id="detail4" value=""></div>
                                <a id="editButtonControl"><button class="btn btn-block btn-submit button button--primary smaller" type="button" id="editButton" onclick="detailEditable()" style="display: inline;">编辑</button></a>
                                <a id="cancelEditButtonControl" hidden=""> <button class="btn btn-block btn-submit button button--primary smaller" type="button" id="" onclick="cancelDetailEditable()" style="background-color: #fa5000!important;">取消编辑</button></a>
                                <style onload="Authority('系统管理员','editButton')"></style>
                                <a hidden="" id="confirmEditButton"> <button class="btn btn-block btn-submit button button--primary smaller" name="updateButton" value="true" type="submit" style="margin-left: 2%">确定</button></a>
                                <a hidden="" id="componentDelButton"><button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="confirmAgainDelete()" style="background-color: red!important; margin-left: 30%;"><img src="images/bin.png" height="30px" width="30px"></button></a>
                            </div>
                        </td>
                        <td>

                                文件：

                        </td>
                    </tr>

                    </tbody></table>


                <div class="pageCard" style="border-top: 0.1rem solid #404142; width: auto;">
                    <div class="pageTitle">
                        <div style="margin-bottom: 30px;font-weight: bold;font-size: 1.3rem">生产设备：(共<%=projectMachineCount%>台)</div>
                    </div>

                    <div id="BomListDetail" style="width: auto">
                        <div style="margin-left: -320px;margin-bottom: 50px;">
                            <!--                        <a id="editBomBtn"><button class="searchInputBoxButton" type="button" onclick="editItemBtn()"  style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >编辑所属部件</button></a>-->
                            <!--                        <a name="editItemBtn" hidden><button class="searchInputBoxButton" type="button" onclick="cancelEditItemBtn()"   style="position: absolute!important; margin-top: -45px; margin-left: 345px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;background-color: #fa5000!important;" >&emsp;取消编辑&emsp;</button></a>-->
                            <button class="searchInputBoxButton" type="button" id="addProductionMachineBtn" onclick="location.href='/adProductionMachineAdd?projectId=<%=projectMachine[0].projectId%>'" style="margin-top: -45px; margin-left: 345px; border-bottom-left-radius: 0.3rem; border-top-left-radius: 0.3rem; display: inline; position: absolute !important; background-color: rgb(0, 203, 70) !important;">添加生产设备</button>
                            <style onload="Authority('系统管理员','addProductionMachineBtn')"></style>
                            <style onload="Authority('生产主管','addProductionMachineBtn')"></style>
                            <!--                        <a name="editItemBtn" hidden> <button class="searchInputBoxButton" type="submit" style="position: absolute!important; margin-top: -45px; margin-left: 800px;border-bottom-left-radius: 0.3rem;border-top-left-radius: 0.3rem;" >保存&emsp;BOM表</button></a>-->
                        </div>
                            <%if (projectMachine[0].machineId !== undefined){%>
                            <%for(let j = 0 ; j < projectMachine.length; j++) { %>
                            <tr id="productionMachine<%=j%>" style="width: 100%;">
                                <td style="width: 100%">
                                    <button class="noteButton" name="itemButton"  style="padding-left: 80px;" type="button" onclick="location.href='/adProductionMachineMan?p_machineId=<%=projectMachine[j].p_machineId%>'">
                                            <div style="font-size: 0.7rem; height: 30px; ">
                                                <span class="MachineProductionInfo" style="margin-left: -50px;color: #0050fa;   ">设备&nbsp;<%=j+1%></span>
                                                <span class="MachineProductionInfo" style="margin-left: 0px">名称：<a style="font-weight: normal;color: #0050fa;"><%=projectMachine[j].machineName%></a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 270px">型号：<a style="font-weight:normal;color: #0050fa; "><%=projectMachine[j].machineId%></a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 460px">状态：<a style="font-weight:normal;color: #0050fa; ">生产中</a></span>
                                            </div>
                                            <div style="font-size: 0.7rem; height: 30px; ">
                                                <span class="MachineProductionInfo" style="margin-left: 0px">序列号：<a style="font-weight:normal;color: #0050fa; "><%=projectMachine[j].p_machineId%></a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 180px">对应订单：<a style="font-weight:normal;color: #0050fa; "><%=projectMachine[j].customerOrderId%></a></span>
                                                <%var productionStart = projectMachine[j].productionStart.getFullYear() + '-' + projectMachine[j].productionStart.getMonth() + '-' + projectMachine[j].productionStart.getDate()%>
                                                <%var productionFinish = projectMachine[j].productionFinish.getFullYear() + '-' + projectMachine[j].productionFinish.getMonth() + '-' + projectMachine[j].productionFinish.getDate()%>
                                                <span class="MachineProductionInfo" style="margin-left: 355px;">周期：<a style="font-weight:normal;color: #0050fa; "><%=productionStart%>&nbsp;至&nbsp;<%=productionFinish%></a></span>
                                            </div>
                                            <div style="font-size: 0.7rem; height: 30px;" id="">
                                                <span class="MachineProductionInfo" style="margin-left: 0px">出仓进度：<a style="font-weight: normal;color: #0050fa;"><%=projectMachine[j].exitProgressRate * 100 %> % </a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 150px">质检进度：<a style="font-weight:normal;color: #0050fa; "><%=projectMachine[j].QCProgressRate * 100 %> % </a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 300px">任务进度：<a style="font-weight:normal;color: #0050fa; "><%=projectMachine[j].TaskProgressRate * 100 %> % </a></span>
                                                <span class="MachineProductionInfo" style="margin-left: 460px">总进度：<a style="font-weight:normal;color: #0050fa; "><%=(projectMachine[j].exitProgressRate + projectMachine[j].QCProgressRate + projectMachine[j].TaskProgressRate) / 3 * 100 %>) % </a></span>
                                            </div>
                                    </button>
                                </td>
                            </tr>
                            <% }} else {%>
                                此项目未添加生产设备
                            <%}%>
                            </tr>
                        </table>
                    </div>
                </div>



            </form>

        </main>
    </div>
</section>




<%- include('zFooter') %>

</body>
</html>